<html>
<head>
	<meta charset="utf-8">
	<title></title>
	<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<!--标准mui.css-->
	<link rel="stylesheet" href="css/mui.min.css">
	<link rel="stylesheet" href="css/dzcss.css">
	
	<!--App自定义的css-->
	<style type="text/css">
		.active {
		    width: 40px;
		    height: 40px;
		    display: inline-block;
		    text-align: center;
		    background-color: #fff;
		    border: 1px solid #e1e1e3;
		    border-radius: 25px;
		    background-clip: padding-box;
		}
		.active span{line-height: 40px;}
		#comment-list {
			padding:10px 0px 10px 5px;;
			background-color:#fff ;
			text-align: left;
			
			color:#666 ;
			font-size:14px ;
			margin:0px 0px ;
		}
		#comment-list li {
			border-bottom: 1px  solid #ebebed; list-style:none ; background-color: #f8f8f9; padding-left: 5px;height:28px;
		}
		#comment-list li p{color:#666 ;}
		.top_bg{ height:25px; background-color: #ba9ec6;}
	</style>
	<script src="js/mui.min.js"></script>
	<script src="js/mui.zoom.js"></script>
	<script src="js/mui.previewimage.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/template-native.js"></script>
    <script src="js/basic.js"></script>

</head>
<body style="background-color:#fff ;">
	<header class="mui-bar mui-bar-nav" style=" height: 108px;">
		<div style=" height:21px ; overflow: hidden;">
	    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"><span class="mui-icon mui-icon-undo fhui"></span></a>
	    <div class="buy-cart" style=" float: right; margin-top: 3px; font-weight: 600; color: #333; margin-right:5px ;"><a href="cart.html" data-action="openwindow"><img src="images/buy.png"><span data-cart="number">0</span></div></a>
	   </div>
	    <div class="mui-title"><img src="images/Petchat.png"> <img src="images/CatDog.png"></div>
	    <div class="top_bg"></div>
	</header>
	<div class="mui-content" style=" padding-top:108px ; overflow: hidden;">
		<div id="slider" class="mui-slider" style=" height:350px; overflow: hidden;">
            <div class="mui-slider-group mui-slider-loop" id="list-view">
            	<a class="active">
					<span class="mui-spinner"></span>
				</a>
            </div>
            <script id="list-view-code" type="text/html">
            <% for (var i in list_last) { %>
            	<!-- 额外增加的一个节点(循环轮播：第一个节点是最后一张轮播) -->
                <div class="mui-slider-item">
                    <a href="#">
                        <img src="<%= getvarious("domain") + list_last[i] %>">
                    </a>
                </div>
            <% } %>

            <% for (var i in list) { %>
                <div class="mui-slider-item">
                    <a href="#">
                        <img src="<%= getvarious("domain") + list[i] %>">
                    </a>
                </div>
            <% } %>

            <% for (var i in list) { %>
            	<!-- 额外增加的一个节点(循环轮播：最后一张节点是第一个轮播) -->
                <div class="mui-slider-item">
                    <a href="#">
                        <img src="<%= getvarious("domain") + list[i] %>">
                    </a>
                </div>
            <% break; } %>
            </script>
            
            <div class="mui-slider-indicator" id="list-dot"></div>
            <script id="list-dot-code" type="text/html">
            <% for (var i in list) { %>
                <div class="mui-indicator"></div>
            <% } %>
            </script>
        </div>

		<div id="detail-content"></div>
		<script id="detail-content-code" type="text/html">
			
		
	        <div style=" padding:10px ; background-color:#fff ;">
				<div class="serv-my-zi ming-he">
					<a><strong>產品名稱：</strong></a><%= detail["name"] %>
				</div>
				
				<div class="serv-my-zi ming-he">
					<a><strong>價 錢：</a>$<%= detail["sale"] %></strong>
				</div>
				
				<div class="serv-my-zi ming-he">
					<a style=" float: left;"><strong>產品資料：</strong></a><%=# detail["desp"] %>
				</div>
				
				<div style=" text-align: center; margin-top: 10px;">
				   <div class="zh-good-go" id="heart" rel="like" style="background-color: #5cbf90; font-size:14px ;"><a href="javascript:;" onclick="addCart(<%= detail["id"] %>, 1, 'checkout.html')" data-action="openwindow">立即購買</a></div>
				   <div class="zh-good-go" style="margin-left:10px; background-color: #4ebdf4;font-size:14px ;"><a href="javascript:;" onclick="addCart(<%= detail["id"] %>)">加入購物車</a></div>
				   <div class="zh-good-go" style="margin-left:10px; background-color: #9273bf;font-size:14px ;"><a href="cart.html" data-action="openwindow">檢視購物車</a></div>
			    </div>
			</div>
		</script>
	</div>	

	<script type="text/javascript" charset="utf-8">
		var member = {};

		//mui初始化
		mui.init({
			swipeBack: true //启用右滑关闭功能
		});
		
		mui.plusReady(function() {
			initCart();
			
			member = myStorage.getItem("member");

			mui.ajax({
				type: "post",
				url: domain + "saas/product.php",
				dataType: "json",
				data: {
					action: "detail",
					where: {id: getUrlParam("id")}
				},
				async: true,
				success: function(json) {
					if(!json.error) {
						var pics = {};
						var last = [];
	                	for (var k in json.detail.picture) {
	                		last = json.detail.picture[k];
	                	}

	                	pics.list_last = [last];
	                	pics.list = json.detail.picture;

	                	jQuery("#list-view").html(template('list-view-code', pics));
                    	jQuery("#list-dot").html(template('list-dot-code', pics));

						jQuery("#detail-content").html(template("detail-content-code", json));

						mui('.mui-slider').slider();
						mui('.mui-scroll-wrapper.mui-slider-indicator.mui-segmented-control').scroll({
							scrollY: false,
							scrollX: true,
							indicators: false,
							snap: '.mui-control-item'
						});
							
					} else {
						plus.nativeUI.toast(json.message);
					}
				},
				error: function(xhr, type, errorThrown) {
					//alert(JSON.stringify(xhr));
				}
			});
		});
	</script>

</body>
</html>