<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
	<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">

	<link rel="stylesheet" href="css/mui.min.css">
	<link href="css/mui.indexedlist.css" rel="stylesheet" />
	<link href="css/mui.picker.css" rel="stylesheet" />
	<link href="css/mui.poppicker.css" rel="stylesheet" />

	<script src="js/mui.min.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/template-native.js"></script>
    <script src="js/basic.js"></script>
    <style>
    .top_bg{ height:25px; background-color: #ba9ec6;}
	.mui-table-view-cell p {
	    margin-bottom: 0;
	   margin-top: 0px; 
	    font-size: 14px; 
	    padding-left: 0px;
	   
	}
	.mui-media-body{width:80%;}
    </style>
    
</head>

<body class="mui-fullscreen">
	<header class="mui-bar mui-bar-nav">
		<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"><img src="images/home.png"></a>
		<h1 class="mui-title"><img src="images/Petchat.png"> <img src="images/CatDog.png"></h1>
		<div style=" float: right; margin-top: 10px; font-weight: 600; color: #333;"></div>
	</header>

	<!--页面主结构开始-->
	<form class="mui-content" style=" background:none ; background-color:#efeff4 ;" target="_blank" method="post" action="http://dog.ideal-max.com/checkout.php">
		<input type="hidden" name="sbt_mid" value="">

		<div class="top_bg"></div>	
		<div class="title p-top">確認地址資訊</div>

		<ul class="mui-table-view">
			<li class="mui-table-view-cell mui-media">
				<a href="javascript:;">
					姓名：<input name="sbt_name" value="">
				</a>
			</li>
			<li class="mui-table-view-cell mui-media">
				<a href="javascript:;">
					聯繫電話：<input name="sbt_phone" value="" data-info="value=member.phone">
				</a>
			</li>
			<li class="mui-table-view-cell mui-media">
				<a href="javascript:;">
					住所地址：<input name="sbt_address" value="" data-info="value=member.address">
				</a>
			</li>
		</ul>

		<div class="title p-top">購物車清單</div>
		
		<ul class="mui-table-view" id="list-view"></ul>
		<script id="list-view-code" type="text/html">
			<% for (var i in list) { %>
			<li class="mui-table-view-cell mui-media">
				<a href="javascript:;">
					<img class="mui-media-object mui-pull-left" src="<%= getvarious("domain") + "uploads/pictures/product/prm" + list[i]["src"] %>">
					<div class="mui-media-body">
						<div class="jq-cart-co">價 錢：$<%= list[i]["sale"] %> <span style=" margin-left:5px ;">數量：<%= list[i]["number"] %></span></div>
						<p class='mui-ellipsis'><%= list[i]["name"] %></p>
						<input type="hidden" name="sbt_product[<%= list[i]["id"] %>]" value="<%= list[i]["number"] %>">
					</div>
				</a>
			</li>
			<% } %>
		</script>
			
		<div class="mui-table-view-cell mui-media">
			<div class="jq-cart-co" style=" float: left; line-height:35px ;">總價錢：$<span data-info="total">0.00</span></div>
			<input type="submit" class="zh-good-go" style="background-color:#4ebdf4 ; float: right; text-align: center;margin-bottom: 0px;" value="確認付款">
		</div>
	</form>

	<script>
		var member = {};
		
		mui.init({
			swipeBack:true //启用右滑关闭功能
		});

		mui.plusReady(function() {
			member = myStorage.getItem("member");

			var cart = initCart();
			jQuery("[name='sbt_mid']").val(member.id);
			jQuery("[name='sbt_name']").val(member.name);

			mui.ajax({
				type: "post",
				url: domain + "saas/member.php",
				dataType: "json",
				data: {
					action: "profile",
					name: member.name,
					id: member.id
				},
				async: true,
				success: function(json) {
					if(!json.error) {
						assignTmpl(json);
						
					} else {
						plus.nativeUI.toast(json.message);
					}
				},
				error: function(xhr, type, errorThrown) {

				}
			});

			if (cart) {
				mui.ajax({
					type: "post",
					url: domain + "saas/cart.php",
					dataType: "json",
					data: {
						action: "list",
						list: cart
					},
					async: true,
					success: function(json) {
						if(!json.error) {
							jQuery("#list-view").html(template("list-view-code", json));
							assignTmpl(json);
								
						} else {
							plus.nativeUI.toast(json.message);
						}
					},
					error: function(xhr, type, errorThrown) {
						//alert(JSON.stringify(xhr));
					}
				});
			}
		});
	</script>
</body>
</html>