<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
	<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">

	<link rel="stylesheet" href="css/mui.min.css">
	<link rel="stylesheet" href="css/feedback-page.css" />

	<script src="js/mui.min.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/template-native.js"></script>
    <script src="js/basic.js"></script>
    <script src="js/iscroll.js"></script>
    <script src="js/pullToRefresh.js"></script>
    <style>
    .mui-navigate-right:after, .mui-push-right:after {
	    right: 15px;
	    content: no-close-quote;
	}
	.top_bg{ height:25px; background-color: #bc9dc9;clear: both;}	 	
    </style>
    
</head>

<body>
	<header class="mui-bar mui-bar-nav" style=" height: 108px;">
		<div style=" height:21px ; overflow: hidden;">
	    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"><span class="mui-icon mui-icon-undo fhui"></span></a>
		</div>
	    <div class="mui-title"><img src="images/Petchat.png"> <img src="images/CatDog.png"></div>
	    <div class="top_bg"></div>
	</header>

	<!--页面主结构开始-->
	<div class="mui-views" style=" padding-top:108px;background:none ;">

		<!--页面主内容区开始-->
		
		<div class="conta" style="padding:10px ; margin: 0px;" id="list-view"></div>
		<script id="list-view-code" type="text/html">
		<% for (var i in list) { %>
			<%=# list[i]["desp"] %>
		<% } %>
		</script>
	
	</div>
	<!--单页面结束-->

	<script>

	/*
	refresher.init({
		id:"wrapper",
		pullDownAction:Refresh,                                                            
		pullUpAction:Load 																			
	});			

	function Refresh() {																
		setTimeout(function () {	// <-- Simulate network congestion, remove setTimeout from production!
			
		}, 1000);

	}

	function Load() {
		setTimeout(function () {// <-- Simulate network congestion, remove setTimeout from production!
			
		}, 1000);	
	}
	*/

	mui.plusReady(function() {
		ajaxCache({
			type: "post",
			url: domain + "saas/catalog.php",
			dataType: "json",
			data: {
				action: "detail",
				where: {type: 6, id: 38}
			},
			async: true,
			success: function(json) {
				if(!json.error) {
					jQuery("#list-view").html(template('list-view-code', json));
					//assignTmpl(json);
					
				} else {
					plus.nativeUI.toast(json.message);
				}
			},
			error: function(xhr, type, errorThrown) {}
		}, true);
	});
	</script>

</body>
</html>