<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
	<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<!--标准mui.css-->
	<link rel="stylesheet" href="css/mui.min.css">
	<link href="css/mui.indexedlist.css" rel="stylesheet" />
	<link href="css/mui.picker.css" rel="stylesheet" />
	<link href="css/mui.poppicker.css" rel="stylesheet" />
	<style>
		.title {
			padding: 20px 15px 10px;
			color: #333;
			font-size: 18px;
			background-color:#fff ;
			
		}
		.top_bg{ height:25px; background-color: #ba9ec6;}
		#topPopover {
			position:absolute;
			top: 16px;
			right: 6px;
		}
		#topPopover .mui-popover-arrow {
			left: auto;
			right: 6px;
			padding: 0px;
			margin: 0px;
			line-height:0px ;
		}
		p {
			text-indent: 22px;
		}
		
		.mui-popover {
			height: 150px;
		}
	</style>
	<script src="js/mui.min.js"></script>
	<script src="js/mui.zoom.js"></script>
	<script src="js/mui.previewimage.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/template-native.js"></script>
    <script src="js/basic.js"></script>
</head>

<body>
	<header class="mui-bar mui-bar-nav" style=" height: 108px;">
	<div style=" height:21px ; overflow: hidden;">
    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"><span class="mui-icon mui-icon-undo fhui"></span></a>
    <a id="menu" class="mui-action-menu mui-icon mui-icon-bars mui-pull-right" style=" color:#333 ; font-weight: bold; margin-right:0px ;" href="#topPopover"> </a>
   </div>
    <div class="mui-title"><img src="images/Petchat.png"> <img src="images/CatDog.png"></div>
    <div class="top_bg"></div>
</header>
	 
	<div class="mui-content" >
		<div class="top_bg"></div>
		<div class="mui-indexed-list-search mui-input-row mui-search">
					<input type="search" class="mui-input-clear mui-indexed-list-search-input" placeholder="搜索標題">
				</div>
		<div style=" text-align: center;">
			<div id="list-view"></div>
			
			<script id="list-view-code" type="text/html">
			<% for (var i in list) { %>
				<div class="pl-cs">
					<a href="discuss-list.html?url=<%= list[i]["path"] %>" data-action="openwindow">
					<div class="pl-cs-left" style="background: <%= list[i]["background"]; %>"><img src="<%= list[i]["src"] %>"></div>
					<div class="pl-cs-zi"><%= list[i]["name"] %></div>
					</a>
				</div>
			<% } %>
			</script>
		  
			
		</div>
	</div>
	<!--右上角弹出菜单-->
	<div id="topPopover" class="mui-popover">
		<div class="mui-popover-arrow"></div>
		<div class="mui-scroll-wrapper"  style=" position: absolute; top:0px;">
			<div class="mui-scroll" >
				<ul class="mui-table-view" >
					<li class="mui-table-view-cell">
						<a href="publish-discuss.html" class="mui-navigate-right" data-action="openwindow">發表討論</a>
					</li>
					<li class="mui-table-view-cell"><a href="personal.html" class="mui-navigate-right" data-action="openwindow">我的討論</a>
					</li>
					<li class="mui-table-view-cell"><a href="personal.html" class="mui-navigate-right" data-action="openwindow">個人主頁</a>
					</li>
					<li class="mui-table-view-cell">
					</li>
					
				</ul>
			</div>
		</div>

	</div>	
	
	<script>
		(function(mui, doc) {
			mui.init({
				swipeBack:true //启用右滑关闭功能
			});

			mui.plusReady(function() {	
				ajaxCache({
					type: "post",
					url: domain + "saas/catalog.php",
					dataType: "json",
					data: {
						action: "list",
						where: {type: 4}
					},
					async: true,
					success: function(json) {
						if(!json.error) {
							var k = 1;
							for (l in json.list) {
								switch (k) {
									case 1: 
										json.list[l]["background"] = "#f9a578";
										json.list[l]["src"] = "images/tu_02.jpg";
									break;
									case 2: 
										json.list[l]["background"] = "#fff577";
										json.list[l]["src"] = "images/tu_03.jpg";
									break;
									case 3: 
										json.list[l]["background"] = "#94d9f8";
										json.list[l]["src"] = "images/tu_04.jpg";
									break;
									case 4: 
										json.list[l]["background"] = "#c376b1";
										json.list[l]["src"] = "images/tu_05.jpg";
									break;
									case 5: 
										json.list[l]["background"] = "#bddc93";
										json.list[l]["src"] = "images/tu_06.jpg";
									break;
									case 6: 
										json.list[l]["background"] = "#ffd386";
										json.list[l]["src"] = "images/tu_07.jpg";
									break;
								}
								
								k ++;
							}
							
							jQuery("#list-view").html(template('list-view-code', json));
							
						} else {
							plus.nativeUI.toast(json.message);
						}
					},
					error: function(xhr, type, errorThrown) {}
				}, true);

			});
		}(mui, document));
	</script>
	
</body>
</html>