<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
	<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<!--标准mui.css-->
	<link rel="stylesheet" href="css/mui.min.css">
	<style>
	.top_bg{ height:25px; background-color: #bc9dc9;clear: both;}
		.title {
			padding: 20px 15px 10px;
			color: #333;
			font-size: 18px;
			background-color:#fff ;
			
		}
		#topPopover {
			position:absolute;
			top: 16px;
			right: 6px;padding: 0px; margin:0px ;
		}
		#topPopover .mui-popover-arrow {
			left: auto;
			right: 6px;
		}
		p {
			text-indent: 22px;
		}
		
		.mui-popover {
			height: 150px;
		}
		
	</style>
	<script src="js/mui.min.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/template-native.js"></script>
    <script src="js/basic.js"></script>
    
</head>

<body style=" height:100% ;background-color:#fff ; overflow: hidden;">
	<header class="mui-bar mui-bar-nav" style=" height: 108px;">
	<div style=" height:21px ; overflow: hidden;">
    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"><span class="mui-icon mui-icon-undo fhui"></span></a>
    <a id="menu" class="mui-action-menu mui-icon mui-icon-bars mui-pull-right" style=" color:#333 ; font-weight: bold; margin-right:0px ;" href="#topPopover"> </a>
   </div>
    <div class="mui-title"><img src="images/Petchat.png"> <img src="images/CatDog.png"></div>
    <div class="top_bg"></div>
</header>

	<div class="mui-content" style=" padding-top:108px ;">
		

		<div id="list-view"></div>
		<script id="list-view-code" type="text/html">
			<div class="pl-list-two-top" id="discuss_name" style="background-color:#f9a577;"><%= detail["name"] %></div>
			
			<ul class="pl-list-two">

			<% for (var i in list) { %>
				<li>
					<a href="discuss-detail.html?url=<%= list[i]["path"] %>" data-action="openwindow">
						<div class="pl-list-two-img">
						<% if (list[i]["read"] == '1') { %>
							<img src="images/forum_bubble-b.png">
						<% } else { %>
							<img src="images/forum_bubble-a.png">
						<% } %>
						</div>	
						<div class="pl-tilte">
							<div class="pl-tilte-two mui-ellipsis"><%= list[i]["name"] %></div>
							<ul>
								<li>發帖人: <%= list[i]["member"]["name"] %></li>
								<li style=" float: right;"><%= list[i]["date"] %></li>
							</ul>	
						</div>
					</a>
				</li>
			<% } %>

			</ul>
		</script>
	</div>
	
	<!--右上角弹出菜单-->
	<div id="topPopover" class="mui-popover" >
		<div class="mui-popover-arrow"></div>
		<div class="mui-scroll-wrapper" style=" position: absolute; top:0px;">
			<div class="mui-scroll">
				<ul class="mui-table-view">
					<li class="mui-table-view-cell">
						<a href="publish-discuss.html" class="mui-navigate-right" data-action="openwindow">發表討論</a>
					</li>
					<li class="mui-table-view-cell"><a href="personal.html" class="mui-navigate-right" data-action="openwindow">我的討論</a>
					</li>
					<li class="mui-table-view-cell"><a href="personal.html" class="mui-navigate-right" data-action="openwindow">個人主頁</a>
					</li>
					<li class="mui-table-view-cell">
					</li>
					
				</ul>
			</div>
		</div>

	</div>
		
	<script>
		(function(mui, doc) {
			mui.init({
				swipeBack:true //启用右滑关闭功能
			});

			mui.plusReady(function() {
				ajaxCache({
					type: "post",
					url: domain + "saas/catalog.php",
					dataType: "json",
					data: {
						action: "detail",
						where: {type: 4, path: getUrlParam("url")}
					},
					async: true,
					success: function(json) {
						if(!json.error) {
							jQuery("#list-view").html(template('list-view-code', json));
							assignTmpl(json);

							if (json.detail.id == 14) {
								jQuery(".pl-list-two > li:nth-child(2n)").css({background: "#feddcb"});
								jQuery("#discuss_name").css({backgroundColor: "#f9a577"});

							} else if (json.detail.id == 15) {
								jQuery(".pl-list-two > li:nth-child(2n)").css({background: "#fef9b9"});
								jQuery("#discuss_name").css({backgroundColor: "#fff677"});

							} else if (json.detail.id == 16) {
								jQuery(".pl-list-two > li:nth-child(2n)").css({background: "#d5f1fe"});
								jQuery("#discuss_name").css({backgroundColor: "#94d9f8"});

							} else if (json.detail.id == 17) {
								jQuery(".pl-list-two > li:nth-child(2n)").css({background: "#ffdbf7"});
								jQuery("#discuss_name").css({backgroundColor: "#c476b2"});
								
							} else if (json.detail.id == 18) {
								jQuery(".pl-list-two > li:nth-child(2n)").css({background: "#edfed7"});
								jQuery("#discuss_name").css({backgroundColor: "#bcdc93"});
								
							} else if (json.detail.id == 19) {
								jQuery(".pl-list-two > li:nth-child(2n)").css({background: "#fdefd6"});
								jQuery("#discuss_name").css({backgroundColor: "#fed385"});
								
							}
							
						} else {
							plus.nativeUI.toast(json.message);
						}
					},
					error: function(xhr, type, errorThrown) {}
				}, true);
			});
		}(mui, document));
	</script>

</body>
</html>