<html>
<head>
	<meta charset="utf-8">
	<title></title>
	<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<!--标准mui.css-->
	<link rel="stylesheet" href="css/mui.min.css">
	<link rel="stylesheet" href="css/dzcss.css">
	<!--App自定义的css-->
	<style type="text/css">
	#comment-list {
		padding:10px 5px 10px 5px;;
		text-align: left;
		color:#666 ;
		font-size:14px ;
		margin:10px 10px ;
	}
	#comment-list {
		padding:0px 0px 0px 0px;;
		background-color:#fff ;
		text-align: left;
		
		color:#666 ;
		font-size:12px ;
		margin:0px 0px ;
	}
	#comment-list li {
		border-bottom: 1px solid #f5f5f5; list-style:none ; background-color:#fbfbfb ;  padding-left: 5px;height:27px; padding-top:2px ;
	}
	#comment-list li p{color:#666 ;  font-size:12px ;}
	#comment-list li p a{color:#b8b7b7 ; font-size:12px ;}
	
	#topPopover {
		position:absolute;
		top: 16px;
		right: 6px;
	}
	#topPopover .mui-popover-arrow {
		left: auto;
		right: 6px;
	}
	p {
		text-indent: 22px;
	}
	
	.mui-popover {
		height: 70px;
	}
	#sharecontent{
		width:80%;
		-webkit-user-select:text;
		border: 1px solid #6C6C6C;
		-webkit-border-radius: 2px;
		border-radius: 2px;
	}
	#pic{
		width:100px;
		height:100px;
		/*border: 1px dashed #CCCCCC;*/
	}
	.sharehref{
		width:80%;
		-webkit-user-select:text;
		border: 1px solid #6C6C6C;
		-webkit-border-radius: 2px;
		border-radius: 2px;
		margin-bottom: .5em;
	}
	.top_bg{ height:25px; background-color: #bc9dc9;clear: both;}	
	</style>
	<script src="js/mui.min.js"></script>
	<script src="js/mui.zoom.js"></script>
	<script src="js/mui.previewimage.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/template-native.js"></script>
    <script src="js/basic.js"></script>
   
    
</head>

<body style="background-color:#fff; height: 100%;">
	<header class="mui-bar mui-bar-nav" style=" height: 108px;">
		<div style=" height:21px ;">
	    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"><span class="mui-icon mui-icon-undo fhui"></span></a>
	    <a id="menu" class="mui-action-menu mui-icon mui-icon-bars mui-pull-right" style=" color:#333 ; font-weight: bold; margin-right:0px ;" href="#topPopover"> </a>
	   </div>
	    <div class="mui-title"><img src="images/Petchat.png"> <img src="images/CatDog.png"></div>
	    <div class="top_bg"></div>
	</header>
		
	<div class="mui-content" style=" padding-top:108px ;background-color:#fff; height: 100%;">
		<div style=" overflow: hidden;">
			<div class="discuss-title" data-info="detail.name"></div>
			<div class="discuss-title-right" style=" position: relative;">1樓<span style="display: none;" class="per-p-tile-two" data-id="0" data-info="data-id=detail.id">删除</span></div>
		</div>

		<div style=" padding-left:10px ; overflow: hidden; padding-bottom:5px;border-bottom: solid 3px #efefef ;overflow: hidden;">
			<div class="discuss-zi-wz">來自：<span data-info="detail.catalog.name"></span></div>
			<div class="discuss-zi-wz-flo">
				<div style="float: left;">
				<span class="mui-icon mui-icon-chat" style="color: #b8e5fa; font-size:12px ;">
					<a style="color:#a9a9a9;" data-info="detail.total.comments">0</a>
				</span>
				</div>
				<div style="float: left; padding-left:10px ;">
                <span class="mui-icon mui-icon-eye" style="color: #b8e5fa;font-size:14px;">
					<a style="color:#a9a9a9 ; font-size:12px;" data-info="detail.likes">0</a>
                </span>
				</div>
			</div>
		</div>
		
		<div style=" overflow: hidden; border-bottom: solid 2px #efefef ; background-color:#fff ; ">
			<div class="li-bg-san fl-mar" style=" margin-bottom:0px ;">
				<div style=" overflow: hidden; margin-bottom:20px ;">	
				    <div id="member-photo" style="float: left;"></div>
					<script id="member-photo-code" type="text/html">
						<a href="personal-photo.html?id=<%= detail["member"]["id"] %>&name=<%= detail["member"]["name"] %>" data-action="openwindow">
                            <img class="img-bor-two wid" src="<%= getvarious("domain") + detail["member"]["src"] %>" style=" margin-left:0px ;" />
                            <span class="t-p-tile"><%= detail["member"]["name"] %></span>
                        </a>
					</script>

				    <div style="float: right; padding-right:10px; line-height:80px; color: #666; font-size: 12px;" data-info="detail.date"></div>
				</div>

				<div class="pl_two_zi" data-info="detail.desp"></div>
				<input type="hidden" name="aid" id="aid" data-info="value=detail.id" value="">
			</div>
			
			<div id="detail-photo" style=" text-align: center;"><img src="images/gif.gif" style="width: 32px; height:32px ;"></div>
			
			<script id="detail-photo-code" type="text/html">
			  <div class="square-pic-san" style="background-image: url(<%= getvarious("domain") + "uploads/pictures/info/imm" + detail["src"] %>)">
			   
			  </div>
			</script>
			
			<div class="xp-tu-dicc" style="margin-left:5px; margin-top: 5px;margin-bottom:5px ;overflow: hidden;">
				<div class="discu-good-x-p" data-icon="heart" rel="like"><img src="images/photo-button-01.png" style=" float: left;"><span id="likesCount" data-info="detail.likes" data-icon="likesCount">0</span></div>
				<div class="discu-good-x-p-two" style="margin-left:10px;" data-icon="promptBtn"><img src="images/photo-button-02.png" style=" float: left;"><span>評論</span></div>
				
			</div>
		</div>

        <div id="comment-list"></div>
        <script id="comment-list-code" type="text/html">
        <% for (var i in comments) { %>
            <div>
        		<div style="overflow: hidden; border-bottom: solid 2px #efefef ; padding-top:5px ;background-color:#fff ;">
        			<div class="li-bg-san" style=" margin-bottom:0px ;">
        				<div style=" overflow: hidden; margin-bottom:20px ;">	
        				    <div id="member-photo" style="float: left;">
        						<img class="img-bor-two wid" src="<%= getvarious("domain") + comments[i]["member"]["src"] %>" /><span class="t-p-tile"><%= comments[i]["member"]["name"] %></span>
        					</div>
        	                <div style="float: right; padding-right:10px; color: #666; font-size: 14px; text-align: right;"> 
                            <div style="font-size:12px ;"><%= parseInt(i) + 2 %>樓  <span style="color:#f38bb9; display: none;" member-id="<%= comments[i]["mid"] %>" message-id="<%= comments[i]["id"] %>">删除</span></div>	
        				    <div style="color: #666; font-size: 12px;"><%= comments[i]["date"] %></div>
        			    </div>
        			</div>

        			<div class="pl_two_zi" style=" padding-left:10px ;padding-right:10px ;"><%= comments[i]["content"] %></div>
        		</div>
                <input type="hidden" name="aid" value="<%= comments[i]["id"] %>" rel="message" />

        		<div class="xp-tu" style="margin-left:5px; margin-top: 5px;margin-bottom:5px ;">
    				<div class="discu-good-x-p" data-icon="heart" rel="like"><img src="images/photo-button-01.png" style=" float: left;"><span data-icon="likesCount"><%= comments[i]["likes"] %></span></div>
    				<div class="discu-good-x-p-two" style="margin-left:10px;" data-icon="promptBtn"><img src="images/photo-button-02.png" style=" float: left;"><span>評論</span></div>
    			</div>
            </div>
    	</div>
    <% } %>
    </script>

	<!--右上角弹出菜单-->
	<div id="topPopover" class="mui-popover" >
		<div class="mui-popover-arrow"></div>
		<div class="mui-scroll-wrapper" style=" position: absolute; top:0px;">
			<div class="mui-scroll">
				<ul class="mui-table-view">
					<li class="mui-table-view-cell">
						<a href="publish-discuss.html" class="mui-navigate-right" data-action="openwindow">發表討論</a>
					</li>
					
					
				</ul>
			</div>
		</div>

	</div>
	<script type="text/javascript" charset="utf-8">
		var cata_type = 4;
		var member = {};
	
		//mui初始化
		mui.init({
			swipeBack: true //启用右滑关闭功能
		});
		
		mui.plusReady(function() {
			member = myStorage.getItem("member");
			
			mui.ajax({
				type: "post",
				url: domain + "saas/info.php",
				dataType: "json",
				data: {
					action: "detail",
					where: {type: cata_type, path: getUrlParam("url")}
				},
				async: true,
				success: function(json) {
					if(!json.error) {
						if (json.detail.member) {
							jQuery("#member-photo").html(template("member-photo-code", json));
						}
						if (!json.detail.src) {
							jQuery("#detail-photo").hide();
						}
						jQuery("#detail-photo").html(template("detail-photo-code", json));

                        //alert(JSON.stringify(json))

                        jQuery("#comment-list").html(template("comment-list-code", json.detail));
						assignTmpl(json);
                        setComment();

                        if (member && json.detail.mid == member.id) {
                            jQuery("[data-id]").show();
                        }

                        jQuery("[data-id]").click(function(){
                            var self = jQuery(this);

                            if (confirm("確定要刪除嗎？")) {
                                mui.ajax({
                                    type: "post",
                                    url: domain + "saas/info.php",
                                    dataType: "json",
                                    data: {
                                        action: "delete",
                                        name: member.name,
                                        id: member.id,
                                        where: {id: self.attr("data-id")}
                                    },
                                    success: function(result) {
                                        if(!result.error) {
                                            mui.back();
                                        }
                                    }
                                });
                            }
                        });
                        
                        if (member) {
                            jQuery("[member-id='" + member.id + "']").show();
                        }

                        jQuery("[message-id]").click(function(){
                            var self = jQuery(this);

                            if (confirm("確定要刪除嗎？")) {
                                mui.ajax({
                                    type: "post",
                                    url: domain + "saas/message.php",
                                    dataType: "json",
                                    data: {
                                        action: "delete",
                                        name: member.name,
                                        id: member.id,
                                        where: {id: self.attr("message-id")}
                                    },
                                    success: function(result) {
                                        if(!result.error) {
                                            self.parent().parent().parent().parent().parent().remove();
                                        }
                                    }
                                });
                            }
                        });
							
					} else {
						plus.nativeUI.toast(json.message);
					}
				},
				error: function(xhr, type, errorThrown) {}
			});
		});

        function setComment() {
            jQuery("[data-icon='promptBtn']").click(function() {
                if(!member) {
                    plus.nativeUI.toast("請先登錄！");
                    return;
                }

                var self = jQuery(this);

                mui.prompt("請輸入您的評語：", "", "", ["取消", "提交"], function(e) {
                    if (e.index == 1) {
                        mui.ajax({
                            type: "post",
                            url: domain + "saas/message.php",
                            dataType: "json",
                            data: {
                                action: "send",
                                id: member.id,
                                name: member.name,
                                content: e.value,
                                atype: cata_type,
                                aid: jQuery("#aid").val()
                            },
                            async: true,
                            success: function(json) {
                                plus.nativeUI.toast("評論成功");
                                document.location.href = document.location.href;
                                //alert(JSON.stringify(json))
                            },
                            error: function(xhr, type, errorThrown) {
                                //alert(JSON.stringify(xhr))
                            }
                        });
                        
                        //jQuery("#comment-list").prepend("<li><p><b>" + member.name + "：</b>" + e.value + "</p></li>");
                    }
                })
            });
            
            var setLikes = function(action, obj) {
                mui.ajax({
                    type: "post",
                    url: domain + "saas/likes.php",
                    dataType: "json",
                    data: {
                        action: action,
                        id: member.id,
                        name: member.name,
                        atype: cata_type + (obj.attr("rel") == "message" ? 10 : 0),
                        aid: obj.val()
                    },
                    async: true,
                    success: function(json) {
                        //alert(JSON.stringify(json))
                    },
                    error: function(xhr, type, errorThrown) {
                        //alert(JSON.stringify(xhr))
                    }
                });
            };

            jQuery("[data-icon='heart']").click(function(){
                var likes_obj = jQuery(this).parent().find("[data-icon='likesCount']");
                var count = parseInt(likes_obj.html());
                var rel = $(this).attr("rel");
               
                if(rel == 'like') {      
                    setLikes("insert", jQuery(this).parent().parent().find("[name='aid']"));
                    likes_obj.html(count + 1);
                    $(this).attr("rel", "unlike");
                } else {
                    setLikes("delete", jQuery(this).parent().parent().find("[name='aid']"));
                    likes_obj.html(count - 1);
                    $(this).attr("rel", "like");
                }
            });
        }
	</script>
	
	
</body>
</html>