<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title></title>
    <link href="css/mui.min.css" rel="stylesheet"/>
    <!--App自定义的css-->
    <link href="css/mui.indexedlist.css" rel="stylesheet" />
	<link href="css/mui.picker.css" rel="stylesheet" />
	<link href="css/mui.poppicker.css" rel="stylesheet" />
    <style>
		.mui-bar {
			-webkit-box-shadow: none;
			box-shadow: none;
		}
		.title {
			padding: 20px 15px 10px;
			color: #4f4d4e;
			font-size: 20px;
			margin-top: 20px;
			
		}
		.top_bg{ height:25px; background-color: #ba9ec6;}
		.mui-btn {
			font-size: 16px;
			padding: 8px;
			margin: 3px;
			   
		}
		h5.mui-content-padded {
			margin-left: 3px;
			margin-top: 20px !important;
		}
		h5.mui-content-padded:first-child {
			margin-top: 12px !important;
		}
		.ui-alert {
			text-align: center;
			padding: 20px 10px;
			font-size: 16px;
		}
	</style>
    <script src="js/mui.min.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/template-native.js"></script>
    <script src="js/basic.js"></script>
    
</head>
<body>
<header class="mui-bar mui-bar-nav">
    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"><img src="images/home.png"></a>
    <div class="mui-title"><img src="images/Petchat.png"> <img src="images/CatDog.png"></div>
    <a href="login.html" style="color: #333;" data-action="openwindow"><div style=" float: right; margin-top: 10px; font-weight: 600; ">登入</div></a>
</header>

<div class="mui-content">
    <div id="tabbar" class="mui-control-content mui-active">
        <div id="slider" class="mui-slider" >
            <div class="mui-slider-group mui-slider-loop" id="list-view">
            	<a class="active">
						<span class="mui-spinner"></span>
					</a>
            </div>
            <script id="list-view-code" type="text/html">
            <% for (var i in list_last) { %>
            	<!-- 额外增加的一个节点(循环轮播：第一个节点是最后一张轮播) -->
                <div class="mui-slider-item">
                    <a href="#">
                        <img src="<%= getvarious("domain") + "uploads/pictures/info/imm" + list_last[i]["src"] %>">
                    </a>
                </div>
            <% } %>

            <% for (var i in list) { %>
                <div class="mui-slider-item">
                    <a href="#">
                        <img src="<%= getvarious("domain") + "uploads/pictures/info/imm" + list[i]["src"] %>">
                    </a>
                </div>
            <% } %>

            <% for (var i in list) { %>
            	<!-- 额外增加的一个节点(循环轮播：最后一张节点是第一个轮播) -->
                <div class="mui-slider-item">
                    <a href="#">
                        <img src="<%= getvarious("domain") + "uploads/pictures/info/imm" + list[i]["src"] %>">
                    </a>
                </div>
            <% break; } %>
            </script>
            
            <div class="mui-slider-indicator" id="list-dot"></div>
            <script id="list-dot-code" type="text/html">
            <% for (var i in list) { %>
                <div class="mui-indicator"></div>
            <% } %>
            </script>
        </div>
        
        <div class="mui-content">
            <ul class="mui-table-view mui-grid-view mui-grid-9 muing">
                <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">
                    <a href="info-category.html" data-action="openwindow">
                        <span class="mui-icon mui-icon-home"><img src="images/icon-01.png"></span>
                        <div class="mui-media-body">資料庫</div> 
                    </a>
                </li>
                <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">
                    <a href="discuss-category.html" data-action="openwindow">
                        <span class="mui-icon"><img src="images/icon-02.png"></span>
                        <div class="mui-media-body">討論區</div>
                    </a>
                </li>
                <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">
                    <a href="photo-list.html" data-action="openwindow">
                        <span class="mui-icon mui-icon-chatbubble"><img src="images/icon-03.png"></span>
                        <div class="mui-media-body">相片區</div>
                    </a>
                </li>
                <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">
                    <a href="service-list.html"  data-action="openwindow">
                        <span class="mui-icon mui-icon-location"><img src="images/icon-04.png"></span>
                        <div class="mui-media-body">上門服務</div>
                    </a>
                </li>
                <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">
                    <a href="buy.html" data-action="openwindow">
                        <span class="mui-icon mui-icon-search"><img src="images/icon-05.png"></span>
                        <div class="mui-media-body">買賣平台</div>
                    </a>
                </li>
                <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">
                    <a href="#">
                        <span class="mui-icon mui-icon-phone"><img src="images/icon-06.png"></span>
                        <div class="mui-media-body">Facebook</div>
                    </a>
                </li>
                <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">
                    <a href="personal.html" data-action="openwindow" data-href="personal">
                        <span class="mui-icon mui-icon-gear"><img src="images/icon-07.png"></span>
                        <div class="mui-media-body">個人主頁</div>
                    </a>
                </li>
                <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">
                    <a href="used.html" data-action="openwindow">
                        <span class="mui-icon mui-icon-info"><img src="images/icon-08.png"></span>
                        <div class="mui-media-body">二手交易平台</div>
                    </a>
                </li>
                <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">
                    <a href="contact.html" data-action="openwindow">
                        <span class="mui-icon mui-icon-more"><img src="images/icon-09.png"></span>
                        <div class="mui-media-body">聯繫我們</div>
                    </a>
                </li>
            </ul>
        </div>      
    </div>
</div>      
<script type="text/javascript" charset="utf-8">
(function($, doc) {
    $.init({
        swipeBack:true //启用右滑关闭功能
    });
    
    /*
    var slider = $("#slider");
    document.getElementById("switch").addEventListener('toggle', function(e) {
        if (e.detail.isActive) {
            slider.slider({
                interval: 5000
            });
        } else {
            slider.slider({
                interval: 0
            });
        }
    });
    */

    $.plusReady(function() {
        var member = myStorage.getItem("member");

        if (!member) {
            jQuery("[data-href='personal']").attr("href", "login.html");
        }

        $.ajax({
            type: "post",
            url: domain + "saas/catalog.php",
            dataType: "json",
            data: {
                action: "detail",
                where: {id: 12}
            },
            async: true,
            success: function(json) {
                if(!json.error) {
                	var last = [];
                	for (var k in json.list) {
                		last = json.list[k];
                	}

                	json.list_last = [last];
                    jQuery("#list-view").html(template('list-view-code', json));
                    jQuery("#list-dot").html(template('list-dot-code', json));
                    assignTmpl(json);
                    
                    $('.mui-slider').slider();
					$('.mui-scroll-wrapper.mui-slider-indicator.mui-segmented-control').scroll({
						scrollY: false,
						scrollX: true,
						indicators: false,
						snap: '.mui-control-item'
					});
                    
                } else {
                    plus.nativeUI.toast(json.message);
                }
            },
            error: function(xhr, type, errorThrown) {}
        });

        var backButtonPress = 0;
        $.back = function(event) {
            backButtonPress++;
            if (backButtonPress > 1) {
                plus.runtime.quit();
            } else {
                plus.nativeUI.toast('再按一次退出應用');
            }
            setTimeout(function() {
                backButtonPress = 0;
            }, 1000);
            
            return false;
        };
    });
}(mui, document));
</script>

</body>
</html>