<html>
<head>
	<meta charset="utf-8">
	<title></title>
	<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<!--标准mui.css-->
	<link href="css/mui.min.css" rel="stylesheet" />
	<link href="css/mui.indexedlist.css" rel="stylesheet" />
	<link href="css/mui.picker.css" rel="stylesheet" />
	<link href="css/mui.poppicker.css" rel="stylesheet" />

	<!--App自定义的css-->
	<style type="text/css">
	.top_bg{ height:25px; background-color: #bc9dc9;clear: both;}
		#comment-list {
			padding:10px 5px 10px 5px;;
			text-align: left;
			color:#666 ;
			font-size:14px ;
			margin:10px 10px ;
		}
		#comment-list li {
			border-bottom: 1px  solid #f8f7f7; list-style:none ; padding-left: 5px;height:28px; 
		}
		#comment-list li p{color:#666 ;line-height:30px ;}
		
	</style>
	
	<script src="js/mui.min.js"></script>
	<script src="js/mui.zoom.js"></script>
	<script src="js/mui.previewimage.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/template-native.js"></script>
    <script src="js/basic.js"></script>

</head>

<body>
	<header class="mui-bar mui-bar-nav" style=" height: 108px;">
	<div style=" height:21px ; overflow: hidden;">
    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"><span class="mui-icon mui-icon-undo fhui"></span></a>
   
   </div>
    <div class="mui-title"><img src="images/Petchat.png"> <img src="images/CatDog.png"></div>
    <div class="top_bg"></div>
</header>
	<div class="mui-content"  style=" padding-bottom:20px ;">
		<div id="detail-photo" style=" text-align: center;"><img src="images/gif.gif" style="width: 32px; height:32px ;"></div>
		
		<script id="detail-photo-code" type="text/html">
			<div style=" height:45%; overflow: hidden;">
			<img src="<%= getvarious("domain") + "uploads/pictures/info/imm" + detail["src"] %>">
			</div>
		</script>
       
		<div class="z-hao" id="likesCount" data-info="detail.likes">0</div>
		<div class="li-bg-san fl-mar" style=" margin-left: 10px; margin-right:10px ;">
			<div class="pl_two_zi za-zi" style=" padding-left:9%; color:#333 ;" data-info="detail.name"></div>
			<div class="dz-add" data-info="detail.address"></div>
			<div class="mui-tal" style="font-size:14px ;" id="phone-detail"></div>

			<script id="phone-detail-code" type="text/html">
				<a href="tel:<%= detail["tel"] %>" style="color:#333 ;"><%= detail["tel"] %></a>
			</script>

			<input type="hidden" id="aid" data-info="value=detail.id" value="">
		</div>

		<div style=" text-align: center;">
			<div class="zh-good" id="heart" rel="like">讚好</div>
			<div class="zh-good" style=" margin-left:10px;" id="promptBtn">評論</div>
			<div class="zh-good" style="margin-left:10px;">分享</div>
		</div>


	<div id="detail-view"></div>
	<script id="detail-view-code" type="text/html">
		<ul id="comment-list" class="li-bg-san">
		<% for (var i in detail["comments"]) { %>
			<li>
				<p><b><%= detail["comments"][i]["member"]["name"] %>：</b> <%= detail["comments"][i]["content"] %></p>
			</li>
		<% } %>
		</ul>
	</script>
	</div>
	
	<script type="text/javascript" charset="utf-8">
		var cata_type = 3;
		var member = {};
	
		//mui初始化
		mui.init({
			swipeBack: true //启用右滑关闭功能
		});
		
		mui.plusReady(function() {
			member = myStorage.getItem("member");
			
			mui.ajax({
				type: "post",
				url: domain + "saas/info.php",
				dataType: "json",
				data: {
					action: "detail",
					where: {type: cata_type, path: getUrlParam("url"), member_id: member ? member.id : 0}
				},
				async: true,
				success: function(json) {
					if(!json.error) {
						if (json.detail.liked != 0) {
							jQuery("#heart").attr("rel", "unlike");
							jQuery("#heart").html("消讚");
						}

						jQuery("#detail-view").html(template("detail-view-code", json));
						jQuery("#phone-detail").html(template("phone-detail-code", json));
						jQuery("#detail-photo").html(template("detail-photo-code", json));
						assignTmpl(json);
						initComment("promptBtn", "heart", "likesCount");
							
					} else {
						plus.nativeUI.toast(json.message);
					}
				},
				error: function(xhr, type, errorThrown) {}
			});
		});
	</script>
	
</body>
</html>