<html>
<head>
	<meta charset="utf-8">
	<title></title>
	<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<!--标准mui.css-->
	<link href="css/mui.min.css" rel="stylesheet" />
	<link href="css/mui.indexedlist.css" rel="stylesheet" />
	<link href="css/mui.picker.css" rel="stylesheet" />
	<link href="css/mui.poppicker.css" rel="stylesheet" />

	<!--App自定义的css-->
	<style type="text/css">
	.top_bg{ height:25px; background-color: #bc9dc9;clear: both;}
		#comment-list {
			padding:10px 5px 10px 5px;;
			text-align: left;
			color:#666 ;
			font-size:14px ;
			margin:10px 10px ;
		}
		#comment-list li {
			border-bottom: 1px  solid #f8f7f7; list-style:none ; padding-left: 5px;height:28px; 
		}
		#comment-list li p{color:#666 ;line-height:30px ;}
		
	</style>
	
	<script src="js/mui.min.js"></script>
	<script src="js/mui.zoom.js"></script>
	<script src="js/mui.previewimage.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/template-native.js"></script>
    <script src="js/basic.js"></script>
    <script type="text/javascript">
	var shares = null, bhref = false;
	var Intent = null, File = null, Uri = null, main = null;
	// H5 plus事件处理
	function plusReady(){
		updateSerivces();
		if(plus.os.name=="Android"){
			main = plus.android.runtimeMainActivity();
			Intent = plus.android.importClass("android.content.Intent");
			File = plus.android.importClass("java.io.File");
			Uri = plus.android.importClass("android.net.Uri");
		}
	}
	if(window.plus){
		plusReady();
	}else{
		document.addEventListener("plusready",plusReady,false);
	}
	/**
	 * 更新分享服务
	 */
	function updateSerivces(){
		plus.share.getServices( function(s){
			shares={};
			for(var i in s){
				var t=s[i];
				shares[t.id]=t;
			}
		}, function(e){
			outSet( "获取分享服务列表失败："+e.message );
		} );
	}
	// 分析链接
	function shareHref(url){
		var shareBts = [];
		shareBts.push({title: "Facebook", link: "http://www.facebook.com/sharer.php?u="});
		shareBts.push({title: "Twitter", link: "http://twitter.com/home?status="});
		shareBts.push({title: "Google", link: "https://plus.google.com/share?url="});

		// 更新分享列表
		/*
		var ss=shares['weixin'];
		ss&&ss.nativeClient&&(),
		shareBts.push({title:'Twitter'}));
		ss=shares['qq'];
		ss&&ss.nativeClient&&shareBts.push({title:'Google+'});
		*/

		// 弹出分享列表
		shareBts.length > 0 ? plus.nativeUI.actionSheet({
			title: "分享圖片", 
			cancel: "取消",
			buttons: shareBts
		}, function(e){
			plus.runtime.openURL(shareBts[e.index - 1].link + url);

		}):plus.nativeUI.alert('当前环境无法支持分享链接操作!');

	}
	</script>

</head>

<body>
	<header class="mui-bar mui-bar-nav" style=" height: 108px;">
	<div style=" height:21px;">
    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"><span class="mui-icon mui-icon-undo fhui"></span></a>
   
   </div>
    <div class="mui-title"><img src="images/Petchat.png"> <img src="images/CatDog.png"></div>
    <div class="top_bg"></div>
</header>
	<div class="mui-content"  style="padding-top:108px ; padding-bottom:20px ;">
		<div id="slider" class="mui-slider h-siimg" style="height: 38%;">
            <div class="mui-slider-group mui-slider-loop" id="list-view">
            	<a class="active">
					<span class="mui-spinner"></span>
				</a>
            </div>
            <script id="list-view-code" type="text/html">
            <% for (var i in list_last) { %>
            	<!-- 额外增加的一个节点(循环轮播：第一个节点是最后一张轮播) -->
                <div class="mui-slider-item">
                    <a href="#">
                    	<div class="square-pic-two" style="background-image: url(<%= getvarious("domain") + list_last[i] %>)"></div>
                       </a>
                </div>
            <% } %>

            <% for (var i in list) { %>
                <div class="mui-slider-item">
                    <a href="#">
                    	<div class="square-pic-two" style="background-image: url(<%= getvarious("domain") + list[i] %>)"></div>
                       </a>
                </div>
            <% } %>

            <% for (var i in list) { %>
            	<!-- 额外增加的一个节点(循环轮播：最后一张节点是第一个轮播) -->
                <div class="mui-slider-item">
                    <a href="#">
                    	<div class="square-pic-two" style="background-image: url(<%= getvarious("domain") + list[i] %>)"></div>
                        
                    </a>
                </div>
            <% break; } %>
            </script>
            
            <div class="mui-slider-indicator" id="list-dot"></div>
            <script id="list-dot-code" type="text/html">
            <% for (var i in list) { %>
                <div class="mui-indicator"></div>
            <% } %>
            </script>
        </div>
		
		<script id="detail-photo-code" type="text/html">
			<div class="square-pic-two" style="background-image: url(<%= getvarious("domain") + "uploads/pictures/info/imm" + detail["src"] %>)">
			
			</div>
		</script>
       
		<div class="z-hao" ><img src="images/cartoon-dog.png" /><span id="likesCount" data-info="detail.likes" style=" position: absolute; right:35%;top:30%;">0</span></div>
		<div class="li-bg-san fl-mar" style=" margin-left: 10px; margin-right:10px ;">
			<div class="pl_two_zi za-zi" style=" padding-left:9%; color:#333 ;" data-info="detail.name"></div>
			<div class="dz-add" data-info="detail.address"></div>
			<div class="mui-tal" style="font-size:14px ;margin-top:5px ;" id="phone-detail"></div>
            <a href="javascript:;"  id="website"><div class="website" data-info="detail.website"></div></a>

			<script id="phone-detail-code" type="text/html">
				<a href="tel:<%= detail["tel"] %>" style="color:#333 ; line-height:30px ;font-size:14px ; "><%= detail["tel"] %></a>
			</script>

			<input type="hidden" id="aid" data-info="value=detail.id" value="">
		</div>

		<div style=" text-align: center; margin-top:3% ;">
			<div class="zh-good" id="heart" rel="like">讚好</div>
			<div class="zh-good" style=" margin-left:10px;" id="promptBtn">評論</div>
			<div class="zh-good"  style="margin-left:10px;" data-href="<%= getvarious("domain") + "uploads/pictures/info/imm" + list[i]["src"] %>">分享</div>
		</div>


    	<div id="detail-view"></div>
    	<script id="detail-view-code" type="text/html">
    		<ul id="comment-list" class="li-bg-san">
    		<% for (var i in detail["comments"]) { %>
    			<li>
    				<p><b><%= detail["comments"][i]["member"]["name"] %>：</b> <%= detail["comments"][i]["content"] %></p>
    			</li>
    		<% } %>
    		</ul>
    	</script>
	</div>
	
	<script type="text/javascript" charset="utf-8">
		var cata_type = 3;
		var member = {};
	
		//mui初始化
		mui.init({
			swipeBack: true //启用右滑关闭功能
		});
		
		mui.plusReady(function() {
			member = myStorage.getItem("member");
			
			mui.ajax({
				type: "post",
				url: domain + "saas/info.php",
				dataType: "json",
				data: {
					action: "detail",
					where: {type: cata_type, path: getUrlParam("url"), member_id: member ? member.id : 0}
				},
				async: true,
				success: function(json) {
					if(!json.error) {
						var pics = {};
						var last = [];
	                	for (var k in json.detail.picture) {
	                		last = json.detail.picture[k];
	                	}

	                	pics.list_last = [last];
	                	pics.list = json.detail.picture;

	                	jQuery("#list-view").html(template('list-view-code', pics));
                    	jQuery("#list-dot").html(template('list-dot-code', pics));

                    	mui('.mui-slider').slider();
						mui('.mui-scroll-wrapper.mui-slider-indicator.mui-segmented-control').scroll({
							scrollY: false,
							scrollX: true,
							indicators: false,
							snap: '.mui-control-item'
						});
                    	
						if (json.detail.liked != 0) {
							jQuery("#heart").attr("rel", "unlike");
							jQuery("#heart").html("消讚");
						}

						jQuery("#detail-view").html(template("detail-view-code", json));
						jQuery("#phone-detail").html(template("phone-detail-code", json));
						jQuery("#detail-photo").html(template("detail-photo-code", json));
						assignTmpl(json);
						initComment("promptBtn", "heart", "likesCount");

                        if (mui.os.ios) {
                            jQuery("#website").on("touchend", function(){
                                plus.runtime.openURL(jQuery(this).find("div").html());
                            });
                        } else {
                            jQuery("#website").click(function(){
                                plus.runtime.openURL(jQuery(this).find("div").html());
                            });
                        }
							
					} else {
						plus.nativeUI.toast(json.message);
					}
				},
				error: function(xhr, type, errorThrown) {}
			});
		});
	</script>
	
</body>
</html>