<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
	<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<!--标准mui.css-->
	<link rel="stylesheet" href="css/mui.min.css">
	<style>
		.top_bg{ height:25px; background-color: #bc9dc9;}
		#topPopover {
			position:absolute;
			top: 16px;
			right: 6px;padding: 0px; margin:0px ;
		}
		#topPopover .mui-popover-arrow {
			left: auto;
			right: 6px;
		}
		
		span.mui-icon {
			font-size: 14px;
			color: #007aff;
			margin-left: -15px;
			padding-right: 10px;
		}
		.mui-popover {
			height: 150px;
		}
		
	</style>
	<script src="js/mui.min.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/template-native.js"></script>
    <script src="js/basic.js"></script>
</head>

<body>
	<header class="mui-bar mui-bar-nav">
		<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"><img src="images/home.png"></a>
	    <h1 class="mui-title"><img src="images/Petchat.png"> <img src="images/CatDog.png"></h1>
	    <a id="menu" class="mui-action-menu mui-icon mui-icon-bars mui-pull-right" style=" color:#333 ; font-weight: bold;" href="#topPopover"></a>
	</header>
	<div class="mui-content">
		<div class="top_bg"></div>
		
		
		<ul class="mui-table-view mui-table-view-chevron" id="list-view" style="background: none; padding: 0 2% 10px; margin-top: 20px;"></ul>
		<script id="list-view-code" type="text/html">
			<% for (var i in list) { %>
			<li class="mui-table-view-cell-img mui-media li-bg">
				<a class="mui-navigate-right" href="info-detail.html?url=<%= list[i]["path"] %>" data-action="webview">
					<img class="mui-pull-left img-bor img-wid" src="<%= getvarious("domain") + "uploads/pictures/info/imm" + list[i]["src"] %>" />
					<div class="mui-media-body zi-heig">
						<div class="za-zi mui-ellipsis"><%= list[i]["name"] %></div>
						<p class='mui-ellipsis pp'><%= list[i]["address"] %></p>
						<div class="mui-tal"><%= list[i]["tel"] %></div>
					</div>
				</a>
			</li>
			<% } %>
			
		</script>
	</div>
<!--右上角弹出菜单-->
	<div id="topPopover" class="mui-popover" >
		<div class="mui-popover-arrow"></div>
		<div class="mui-scroll-wrapper" style=" position: absolute; top:0px;">
			<div class="mui-scroll">
				<ul class="mui-table-view">
					<li class="mui-table-view-cell">
						<a href="publish-shop.html" class="mui-navigate-right" data-action="openwindow">新增店鋪資料</a>
					</li>
					<li class="mui-table-view-cell"><a href="personal.html" class="mui-navigate-right" data-action="openwindow">我的店鋪</a>
					</li>
					<li class="mui-table-view-cell"><a href="personal.html" class="mui-navigate-right" data-action="openwindow">個人主頁</a>
					</li>
					<li class="mui-table-view-cell">
					</li>
					
				</ul>
			</div>
		</div>

	</div>
	<script>
		(function($, doc) {
			$.init({
				swipeBack:true //启用右滑关闭功能
			});

			$.plusReady(function() {
				$.ajax({
					type: "post",
					url: domain + "saas/info.php",
					dataType: "json",
					data: {
						action: "list",
						type: 3,
						where: {name: {like: "%" + getUrlParam("req_name") + "%"}, cid: getUrlParam("req_cid"), service: getUrlParam("req_service")}
					},
					async: true,
					success: function(json) {
						if(!json.error) {
							jQuery("#list-view").html(template('list-view-code', json));
							assignTmpl(json);
							
						} else {
							plus.nativeUI.toast(json.message);
						}
					},
					error: function(xhr, type, errorThrown) {
						//alert(JSON.stringify(xhr))
					}
				});
			});
		}(mui, document));
	</script>

</body>
</html>