<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
	<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">

	<link rel="stylesheet" href="css/mui.min.css">
	<link href="css/mui.indexedlist.css" rel="stylesheet" />
	<link href="css/mui.picker.css" rel="stylesheet" />
	<link href="css/mui.poppicker.css" rel="stylesheet" />


	<script src="js/mui.min.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/template-native.js"></script>
    <script src="js/basic.js"></script>
    <style>
    .top_bg{ height:25px; background-color: #ba9ec6;}
	.mui-table-view-cell p {
	    margin-bottom: 0;
	   margin-top: 0px; 
	    font-size: 14px; 
	    padding-left: 0px;
	   
	}
	.mui-media-body{width:80%;}
	.margin1:nth-child(3n+2) {
			margin-left: 1px; 
			margin-right: 1px;
		}
		#topPopover {
			position:absolute;
			top: 16px;
			right: 6px;padding: 0px; margin:0px ;
		}
		#topPopover .mui-popover-arrow {
			left: auto;
			right: 6px;
		}
		
		
		.mui-popover {
			height: 150px;
		}
    </style>
    
</head>

<body style="background-color:#fff ;height:100%;">
	<!--页面主结构开始-->
	<div class="mui-content">
		<div class="perso-top">
			<div class="perso-bg">
				<div style="overflow: hidden;">
					<div class="perso-top-left">
						<a href="index.html" data-action="webview"><span class="mui-icon mui-icon-undo fhui-two"></span></a>
					</div>
					
					<div class="perso-top-right">
						<a href="profile.html" data-action="webview"><span class="mui-icon mui-icon-compose" style=" color:#fff ; font-size:34px ;"></span></a>
					</div>
				</div>

				<div style=" height:200px ;"></div>
			    <div class="perso-top-center-two">
					<ul>
						<li><span data-info="member.statistic.discuss">0</span><p>帖子</p></li>	
						<li><span data-info="member.statistic.photo">0</span><p>相片</p></li>
						<li><span data-info="member.statistic.likes">0</span><p>讚好</p></li>
						<li style=" display:none ;"><a id="menu" class="mui-icon-bars-two" href="#topPopover"><span data-info="member.statistic.chat">0</span><p>私信</p></a></li>
					</ul>	
				</div>
			</div>
			<div class="perso-photo"><a href="profile.html" data-action="webview"><img class="perso-photo-img-bor-two perso-photo-wid" src="images/user-photo.png" data-before-info="domain" data-info="src=member.src"/>
				<div class="perso-photo-tile" data-personal="name"></div></a>
			</div>
		</div>
	<div>
	<div class="perso-photo-tile-two">我的相片</div>	
		<div class="serv-fw-persona" style="padding-top: 1px;" id="list-view"></div>
		<script id="list-view-code" type="text/html">
		<% for (var i in list) { %>
			<div class="margin1"><a href="photo-list.html?id=<%= list[i]["id"] %>" data-action="openwindow"><img src="<%= getvarious("domain") + "uploads/pictures/info/imm" + list[i]["src"] %>"></a></div>
		<% } %>
		</script>
	</div>

	<!--右上角弹出菜单-->
	<div id="topPopover" class="mui-popover" >
		<div class="mui-popover-arrow"></div>
		<div class="mui-scroll-wrapper" style="position: absolute; top:0px;">
			<div class="mui-scroll" id="chat-list"></div>
			<script id="chat-list-code" type="text/html">
			<% for (var i in list) { %>
				<div class="per-img-two"><a href="im-chat.html?tid=<%= list[i]["mid"] %>" data-action="openwindow"><img class="img-bor-two wid" src="<%= getvarious("domain") + list[i]["src"] %>" /><span class="per-p-tile"><%= list[i]["number"] %></span></a></div>
			<% } %>
			</script>
		</div>

	</div>
	<script>
		var member = {};

		mui.init({
			swipeBack:true //启用右滑关闭功能
		});

		mui.plusReady(function() {
			member = myStorage.getItem("member");

			var loginPage = mui.preload({
				"id": "login",
				"url": "login.html"
			});

			var toLogin = function() {
				mui.fire(loginPage, "show", null);
				setTimeout(function() {
					document.location.href = "login.html";
				}, 0);
			};

			if (!member || !member.name) {
				toLogin();
				return;
			}

			jQuery("[data-personal='name']").html(member.name);

			mui.ajax({
				type: "post",
				url: domain + "saas/member.php",
				dataType: "json",
				data: {
					action: "profile",
					name: member.name,
					id: member.id,
					need: "mypet,statistic"
				},
				async: true,
				success: function(json) {
					if(!json.error) {
						assignTmpl(json);
						jQuery("#pet-list").html(template('pet-list-code', json.member));
						
					} else {
						plus.nativeUI.toast(json.message);
					}
				},
				error: function(xhr, type, errorThrown) {

				}
			});

			mui.ajax({
				type: "post",
				url: domain + "saas/member.php",
				dataType: "json",
				data: {
					action: "my-photo",
					name: member.name,
					id: member.id
				},
				async: true,
				success: function(json) {
					if(!json.error) {
						jQuery("#list-view").html(template('list-view-code', json));
						
					} else {
						plus.nativeUI.toast(json.message);
					}
				},
				error: function(xhr, type, errorThrown) {

				}
			});

			mui.ajax({
				type: "post",
				url: domain + "saas/member.php",
				dataType: "json",
				data: {
					action: "chat",
					name: member.name,
					id: member.id
				},
				async: true,
				success: function(json) {
					if(!json.error) {
						jQuery("#chat-list").html(template('chat-list-code', json));
						
					} else {
						plus.nativeUI.toast(json.message);
					}
				},
				error: function(xhr, type, errorThrown) {

				}
			});
		});

	</script>
	
</body>
</html>