<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title></title>
	<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">

	<link href="css/mui.min.css" rel="stylesheet" />
	<link href="css/mui.indexedlist.css" rel="stylesheet" />
	<link href="css/mui.picker.css" rel="stylesheet" />
	<link href="css/mui.poppicker.css" rel="stylesheet" />
	<style>
		h5{
	        padding-top: 8px;
	        padding-bottom: 8px;
	        text-indent: 12px;
	        background-color:#efeff4;
	    }

		
		.top_bg{ height:25px; background-color: #bc9dc9;clear: both;}
		
		.mui-scroll ul{ margin: 0px; padding:0px ; margin-right: 10px;}
		.comment-list {
			background-color:#fff ;
			color:#666 ;
			font-size:12px ;
			border-radius:0px 0px 0px 0px;
		}
		.comment-list li {
			text-align: left;
			border-bottom: 1px solid #f5f5f5; list-style:none ; background-color:#fbfbfb ;  padding-left: 8px;height:27px; padding-top:2px ;
		}
		.comment-list li p{color:#666 ;  font-size:12px ;}
		.comment-list li p a{color:#b8b7b7 ; }
		#sharecontent{
			width:80%;
			-webkit-user-select:text;
			border: 1px solid #6C6C6C;
			-webkit-border-radius: 2px;
			border-radius: 2px;
		}
		#pic{
			width:100px;
			height:100px;
			/*border: 1px dashed #CCCCCC;*/
		}
		.sharehref{
			width:80%;
			-webkit-user-select:text;
			border: 1px solid #6C6C6C;
			-webkit-border-radius: 2px;
			border-radius: 2px;
			margin-bottom: .5em;
		}
	</style>
    <script src="js/mui.min.js"></script>
	<script src="js/mui.zoom.js"></script>
	<script src="js/mui.previewimage.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/template-native.js"></script>
    <script src="js/basic.js"></script>
    <script type="text/javascript" src="js/js.js"></script>
    <script type="text/javascript">
	var shares = null, bhref = false;
	var Intent = null, File = null, Uri = null, main = null;
	// H5 plus事件处理
	function plusReady(){
		updateSerivces();
		if(plus.os.name=="Android"){
			main = plus.android.runtimeMainActivity();
			Intent = plus.android.importClass("android.content.Intent");
			File = plus.android.importClass("java.io.File");
			Uri = plus.android.importClass("android.net.Uri");
		}
	}
	if(window.plus){
		plusReady();
	}else{
		document.addEventListener("plusready",plusReady,false);
	}
	/**
	 * 更新分享服务
	 */
	function updateSerivces(){
		plus.share.getServices( function(s){
			shares={};
			for(var i in s){
				var t=s[i];
				shares[t.id]=t;
			}
		}, function(e){
			outSet( "获取分享服务列表失败："+e.message );
		} );
	}
	// 分析链接
	function shareHref(url){
		var shareBts = [];
		shareBts.push({title: "Facebook", link: "http://www.facebook.com/sharer.php?u="});
		shareBts.push({title: "Twitter", link: "http://twitter.com/home?status="});
		shareBts.push({title: "Google", link: "https://plus.google.com/share?url="});

		// 更新分享列表
		/*
		var ss=shares['weixin'];
		ss&&ss.nativeClient&&(),
		shareBts.push({title:'Twitter'}));
		ss=shares['qq'];
		ss&&ss.nativeClient&&shareBts.push({title:'Google+'});
		*/

		// 弹出分享列表
		shareBts.length > 0 ? plus.nativeUI.actionSheet({
			title: "分享圖片", 
			cancel: "取消",
			buttons: shareBts
		}, function(e){
			plus.runtime.openURL(shareBts[e.index - 1].link + url);

		}):plus.nativeUI.alert('当前环境无法支持分享链接操作!');

	}
	</script>

</head>

<body style="background:#fff; height:100% ; overflow: hidden;">
	<header class="mui-bar mui-bar-nav" style=" height: 108px;">
		<div style=" height:21px ;">
	    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"><span class="mui-icon mui-icon-undo fhui"></span></a>
	   
	   </div>
	    <div class="mui-title"><img src="images/Petchat.png"> <img src="images/CatDog.png"></div>
	    <div class="top_bg"></div>
	</header>

	<div class="mui-content" id="main" style=" padding-top:108px ;">
		
		<div class="xp-tu" id="pullrefresh">
			<ul id="list-view"><li><img src="images/gif.gif" style="width: 32px; height:32px ;"></li></ul>
			<script id="list-view-code" type="text/html">
			<% for (var i in list) { %>
				<li>
					<div style=" overflow: hidden;">
					 <div style="float: left;">
					<% if (list[i]["member"]["src"] || list[i]["member"]["name"]) { %>
					<a href="personal-photo.html?id=<%= list[i]["member"]["id"] %>&name=<%= list[i]["member"]["name"] %>" data-action="openwindow">
					<img class="img-bor-two wid" src="<%= getvarious("domain") + list[i]["member"]["src"] %>" /><span class="t-p-tile"><%= list[i]["member"]["name"] %></span>
					</a>
					<% } %>
					 </div>
					 <div style=" float: right; font-size:12px ; line-height:70px ; padding-right:5% ;"><%= list[i]["date"] %></div>
					</div>
					<div class="square-pic" style="background-image: url(<%= getvarious("domain") + "uploads/pictures/info/imm" + list[i]["src"] %>)">
				
					</div>

					<input type="hidden" name="aid" value="<%= list[i]["id"] %>" />

					<div class="xp-tu" style="margin-left:5px;">
					<div class="zh-good-x-p" data-icon="heart" rel="like"><img src="images/photo-button-01.png"></div>
					<div class="zh-good-x-p" style="margin-left:10px;" data-icon="promptBtn"><img src="images/photo-button-02.png"></div>
					<div class="zh-good-x-p" style="margin-left:10px;" onclick="shareHref('<%= getvarious("domain") + "uploads/pictures/info/imm" + list[i]["src"] %>')"><img src="images/photo-button-03.png"></div>
					<div class="zh-good-x-p-two"><img src="images/photo-button-04.png" style=" float: left;"><span data-icon="likesCount"><%= list[i]["likes"] %></span></div>
					</div>
		
					<ul class="comment-list">
					<% for (var c in list[i]["comment"]) { %>
						<li><p style=" text-indent: 0px;"><b><%= list[i]["comment"][c]["member"]["name"] %>：</b> <%= list[i]["comment"][c]["content"] %></p></li>
					<% } %>

					<% if (list[i]["comment"].length >= 2) { %>
						<li><p style=" text-align: center; border-bottom:none ;"><a href="photo-comments.html?atype=5&aid=<%= list[i]["id"] %>" data-action="openwindow">查看全部評論</a></p></li>
					<% } %>
					</ul>
				</li>
			<% } %>
			</script>
		</div>
	</div>
	
	
	<!-- 代码开始 -->
	<div id="tbox">
		<a id="gotop" href="javascript:void(0)"><img src="images/top02.png"></a>
	</div>

	<div class="wrap">
		<!--
		<div class="menu">
			<a href="publish-photo.html" data-action="openwindow"><img class="icon_menu" src="images/cartoon-dog.gif" /><span></span></a>
		</div>
		-->
		<div class="menu">
			<img class="icon_menu" src="images/cartoon-dog-two.png" data-action="upload" />
		</div>
	</div>
	<!-- 代码结束 -->
	<script>
		var cata_type = 5;
		var member = {};

		mui.init({
			swipeBack: true, //启用右滑关闭功能
			pullRefresh: {
				container: '#pullrefresh',
				down: {
					callback: pulldownRefresh
				},
				up: {
					contentrefresh: '正在載入...',
					callback: pullupRefresh
				}
			}
		});

		jQuery("[data-action='upload']").click(function(){
			var self = jQuery(this);

			if (jQuery(this).attr("src") == "images/cartoon-dog-one.png") {
				document.location.href = "publish-photo.html";
			} else {
				jQuery(this).attr("src", "images/cartoon-dog-one.png");
			}

			setTimeout(function(){
				self.attr("src", "images/cartoon-dog-two.png");
			}, 2000);
		});

		/**
		 * 下拉刷新具体业务实现
		 */
		function pulldownRefresh() {
			setTimeout(function() {
				mui('#pullrefresh').pullRefresh().endPulldownToRefresh((++ count > 4));
				/*
				var table = document.body.querySelector('.mui-table-view');
				var cells = document.body.querySelectorAll('.mui-table-view-cell');
				for (var i = cells.length, len = i + 3; i < len; i++) {
					var li = document.createElement('li');
					li.className = 'mui-table-view-cell';
					li.innerHTML = '<a class="mui-navigate-right">Item ' + (i + 1) + '</a>';
					//下拉刷新，新纪录插到最前面；
					table.insertBefore(li, table.firstChild);
				}
				 //refresh completed
				 */

			}, 1500);
		}

		var page = 1;
		var count = 0;
		var where =  {cid: "13,"};

		if (getUrlParam("mid")) {
			where["mid"] = getUrlParam("mid");
		}

		if (getUrlParam("id")) {
			where["id"] = getUrlParam("id");
		}

		/**
		 * 上拉加载具体业务实现
		 */
		function pullupRefresh() {
			setTimeout(function() {
				mui('#pullrefresh').pullRefresh().endPullupToRefresh((++ count > 2)); //参数为true代表没有更多数据了。


				mui.ajax({
					type: "post",
					url: domain + "saas/info.php",
					dataType: "json",
					data: {action: "list", where: where, type: 5, page: page},
					async: true,
					success: function(json) {
						if(!json.error) {
							page ++;
							jQuery("#list-view").html(jQuery("#list-view").html() + template('list-view-code', json));
							setComment();

							if (jQuery(json.list).length) {
								count = 0;
							} else {
								count = 3;
							}
							
						} else {
							plus.nativeUI.toast(json.message);
						}
					},
					error: function(xhr, type, errorThrown) {
						//alert(JSON.stringify(xhr))
					}
				});

			}, 2000);
		}
		if (mui.os.plus) {
			mui.plusReady(function() {
				setTimeout(function() {
					mui('#pullrefresh').pullRefresh().pullupLoading();
				}, 1000);

			});
		} else {
			mui.ready(function() {
				mui('#pullrefresh').pullRefresh().pullupLoading();
			});
		}

		function setComment() {
			jQuery("[data-icon='promptBtn']").click(function() {
                if(!member) {
                    plus.nativeUI.toast("請先登錄！");
                    return;
                }

				var self = jQuery(this);

		        mui.prompt("請輸入您的評語：", "", "", ["取消", "提交"], function(e) {
		            if (e.index == 1) {
		                mui.ajax({
		                    type: "post",
		                    url: domain + "saas/message.php",
		                    dataType: "json",
		                    data: {
		                        action: "send",
		                        id: member.id,
		                        name: member.name,
		                        content: e.value,
		                        atype: cata_type,
		                        aid: self.parent().parent().find("[name='aid']").val()
		                    },
		                    async: true,
		                    success: function(json) {
		                    	plus.nativeUI.toast("評論成功");
		                        //alert(JSON.stringify(json))
		                    },
		                    error: function(xhr, type, errorThrown) {
		                        //alert(JSON.stringify(xhr))
		                    }
		                });
		                
		                //jQuery("#comment-list").prepend("<li><p><b>" + member.name + "：</b>" + e.value + "</p></li>");
		            }
		        })
		    });
		    
		    var setLikes = function(action, obj) {
		        mui.ajax({
		            type: "post",
		            url: domain + "saas/likes.php",
		            dataType: "json",
		            data: {
		                action: action,
		                id: member.id,
		                name: member.name,
		                atype: cata_type,
		                aid: obj.val()
		            },
		            async: true,
		            success: function(json) {
		                //alert(JSON.stringify(json))
		            },
		            error: function(xhr, type, errorThrown) {
		                //alert(JSON.stringify(xhr))
		            }
		        });
		    };

		    jQuery("[data-icon='heart']").click(function(){
                if(!member) {
                    plus.nativeUI.toast("請先登錄！");
                    return;
                }

		    	var likes_obj = jQuery(this).parent().find("[data-icon='likesCount']");
		    	var count = parseInt(likes_obj.html());
		        var rel = $(this).attr("rel");
		       
		        if(rel == 'like') {      
		            setLikes("insert", jQuery(this).parent().parent().find("[name='aid']"));
		            likes_obj.html(count + 1);
		            $(this).attr("rel", "unlike");
		        } else {
		            setLikes("delete", jQuery(this).parent().parent().find("[name='aid']"));
		            likes_obj.html(count - 1);
		            $(this).attr("rel", "like");
		        }
		    });
		}

		mui.plusReady(function() {
			member = myStorage.getItem("member");

			mui.ajax({
				type: "post",
				url: domain + "saas/info.php",
				dataType: "json",
				data: {action: "list", where: where, type: 5, page: page},
				async: true,
				success: function(json) {
					if(!json.error) {
						page ++;
						jQuery("#list-view").html(template('list-view-code', json));
						//assignTmpl(json);
						setComment();

					} else {
						plus.nativeUI.toast(json.message);
					}
				},
				error: function(xhr, type, errorThrown) {
					//alert(JSON.stringify(xhr))
				}
			});
		});
		
		$(function(){
			$(".menu").click(function(){
				var span = $(this).find("span");
				if(span.hasClass("open")){
					span.removeClass("open").addClass("close");
					$(".btn").removeClass("open").addClass("close");
				}else{
					span.removeClass("close").addClass("open");
					$(".btn").removeClass("close").addClass("open");
				}
			});
		});
		
	</script>

</body>
</html>