<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
	<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<!--标准mui.css-->
	<link href="css/mui.min.css" rel="stylesheet" />
	<link href="css/mui.indexedlist.css" rel="stylesheet" />
	<link href="css/mui.picker.css" rel="stylesheet" />
	<link href="css/mui.poppicker.css" rel="stylesheet" />
	<style>
		html, body, .mui-content {height: 100%;}
		h5{
	        padding-top: 8px;
	        padding-bottom: 8px;
	        text-indent: 12px;
	        background-color:#efeff4;
	    }
		.top_bg{ height:30px; background-color: #a669c0;opacity:0.5;}
	</style>

	<script src="js/mui.min.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/template-native.js"></script>
    <script src="js/basic.js"></script>
</head>
<body>
	<header class="mui-bar mui-bar-nav">
		<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"><img src="images/home.png"></a>
    	<h1 class="mui-title"><img src="images/Petchat.png"> <img src="images/CatDog.png"></h1>
    	<div style=" float: right; margin-top: 10px; font-weight: 600; color: #333;">登出</div>
	</header>
	<div class="mui-content">
		<div class="top_bg"></div>
		<div class="serv-fw">

			<div><a href="service-detail.html" data-action="openwindow"><img src="images/yuantiao.jpg"></a></div>
			<div><a href="service-detail.html" data-action="openwindow"><img src="images/muwu.jpg"></a></div>
			<div><a href="service-detail.html" data-action="openwindow"><img src="images/shuijiao.jpg"></a></div>
			<div><a href="service-detail.html" data-action="openwindow"><img src="images/yuantiao.jpg"></a></div>

		</div>

		<div class="serv-fw" id="list-view"></div>
		<script id="list-view-code" type="text/html">
			<% for (var i in list) { %>
				<div><a href="service-detail.html?id=<%= list[i]["id"] %>" data-action="openwindow"><img src="<%= getvarious("domain") + "uploads/member/me" + list[i]["src"] %>"></a></div>
			<% } %>
		</script>

	</div>

	<script>
		var member = {};

		mui.init({
			swipeBack:true //启用右滑关闭功能
		});

		mui.plusReady(function() {
			member = myStorage.getItem("member");
			
			mui.ajax({
				type: "post",
				url: domain + "saas/member.php",
				dataType: "json",
				data: {
                    id: member.id,
                    name: member.name,
                    action: "list", 
                    where: {type: 10}
                },
				async: true,
				success: function(json) {
					if(!json.error) {
						jQuery("#list-view").html(template('list-view-code', json));
						//assignTmpl(json);
						
					} else {
						plus.nativeUI.toast(json.message);
					}
				},
				error: function(xhr, type, errorThrown) {
					//alert(JSON.stringify(xhr))
				}
			});
		});
	</script>
</body>
</html>