<html>
<head>
	<meta charset="utf-8">
	<title>Hello MUI</title>
	<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<!--标准mui.css-->
	<link rel="stylesheet" href="css/mui.min.css">
	<link rel="stylesheet" href="css/dzcss.css">
	<!--App自定义的css-->
	<style type="text/css">
		.active {
		    width: 40px;
		    height: 40px;
		    display: inline-block;
		    text-align: center;
		    background-color: #fff;
		    border: 1px solid #e1e1e3;
		    border-radius: 25px;
		    background-clip: padding-box;
		}
		.active span{line-height: 40px;}
		#comment-list {
			padding:10px 0px 10px 5px;;
			background-color:#fff;
			text-align: left;
			
			color:#666;
			font-size:14px;
			margin:0px 0px;
		}
		#comment-list li {
			border-bottom: 1px solid #ebebed; 
			list-style:none; 
			background-color: #f8f8f9; 
			padding-left: 5px;
			height:28px;
		}
		#comment-list li p{color:#666;}
		.top_bg { 
			height:30px; 
			background-color: #a669c0;
			opacity:0.5;
		}
		.serv-my-zi .input1 {
			height:38px; 
			position: absolute; 
			margin-left:20px;
			width:70%;
		}
	</style>
	<script src="js/mui.min.js"></script>
	<script src="js/mui.zoom.js"></script>
	<script src="js/mui.previewimage.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/template-native.js"></script>
    <script src="js/basic.js"></script>

</head>
<body>
	<header class="mui-bar mui-bar-nav">
		<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"><img src="images/home.png"></a>
	    <h1 class="mui-title"><img src="images/Petchat.png"> <img src="images/CatDog.png"></h1>
	    <div style=" float: right; margin-top: 10px; font-weight: 600; color: #333;">登出</div>
	</header>
	<div class="mui-content bg-two">
		<div class="top_bg"></div>
		
		<div class="mui-content-padded" style=" margin:0px; padding:10px;">
			
			<div class="serv-my-zi mar">
				<div class="floa">服務類型</div>

				<div id="service-list"></div>
				<script id="service-list-code" type="text/html">
				<% for (var i in member.service) { %>
					<div class="floa sa" data-action="select">
						<img src="<%= getvarious("domain") + "uploads/pictures/service/se" + member["service"][i]["icon"] %>"><span><%= member["service"][i]["name"] %></span>
						<input type="hidden" name="sbt_service" value="<%= member["service"][i]["name"] %>" data-active="false">
					</div>
				<% } %>
				</script>
			</div>
			<div class="serv-my-zi mar">
				<div class="floa">寵物類型</div>
				<div class="floa-san sa" data-action="select">
					<img src="images/service-button-08.png">
					<input type="hidden" name="sbt_pet" value="狗" data-active="false">
				</div>
				<div class="floa-san sa" data-action="select">
					<img src="images/service-button-09.png">
					<input type="hidden" name="sbt_pet" value="貓" data-active="false">
				</div>
			    <div class="floa">
			    	<input type="text" name="sbt_pet" placeholder="品種填寫" data-active="true" style="width:40%; height:38px; position: absolute;">
			    </div>
			
			</div>
			<div class="serv-my-zi mtop">
				<div class="floa">寵物size</div>
				<div class="floa sa" data-action="select">
					<div class="sw-size"><strong>XS</strong><BR><font>&lt;3kg</font></div>
					<input type="hidden" name="sbt_size" value="XS" data-active="false">
				</div>
				<div class="floa sa" data-action="select">
					<div class="sw-size"><strong>S</strong><BR><font>3-7kg</font></div>
					<input type="hidden" name="sbt_size" value="S" data-active="false">
				</div>
				<div class="floa sa" data-action="select">
					<div class="sw-size"><strong>M</strong><BR><font>8-12kg</font></div>
					<input type="hidden" name="sbt_size" value="M" data-active="false">
				</div>
				<div class="floa sa" data-action="select">
					<div class="sw-size"><strong>L</strong><BR><font>13-20kg</font></div>
					<input type="hidden" name="sbt_size" value="L" data-active="false">
				</div>
				<div class="floa sa" data-action="select">
					<div class="sw-size"><strong>XL</strong><BR><font>&gt;21kg</font></div>
					<input type="hidden" name="sbt_size" value="XL" data-active="false">
				</div>
			</div>
			
			<div class="serv-my-zi mar">
				<div class="floa">姓名</div>
				<div class="floa"><input type="text" class="input1" id="sbt_name" placeholder="姓名填寫"></div>
			</div>

			<div class="serv-my-zi mar">
				<div class="floa">電話</div>
				<div class="floa"><input type="text" class="input1" id="sbt_phone" placeholder="電話填寫"></div>
			</div>

			<div class="serv-my-zi mar">
				<div class="floa">地址</div>
				<div class="floa"><input type="text" class="input1" id="sbt_address" placeholder="地址填寫"></div>
			</div>

			<div class="serv-my-zi mar">
				<div class="floa">上門日期</div>
				<div class="floa"><input type="text" class="input1" id="sbt_time" placeholder="上門日期填寫" style="width:58%;"></div>
			</div>

			<div class="serv-my-zi mar">
				<div class="floa">備註</div>
				<div class="floa"><input type="text" class="input1" id="sbt_remark" placeholder="備註填寫"></div>
			</div>

			<div class="serv-my-zi mar">
				<button class="mui-btn mui-btn-block-two" type='button'><span data-info="member.name"></span></button>
				<div class="butt_right-two" ><img src="images/Info_button-02.png"></div>
			</div>
			
			<div class="serv-my-zi mar"><span class="serv-ljyy-two" id="submit-booking">提交</span></div>
			
		</div>	
	</div>

	<script type="text/javascript" charset="utf-8">
		var member = {};
		var submitting = false;
	
		//mui初始化
		mui.init({
			swipeBack: true //启用右滑关闭功能
		});
		
		mui.plusReady(function() {
			member = myStorage.getItem("member");

			mui.ajax({
				type: "post",
				url: domain + "saas/member.php",
				dataType: "json",
				data: {
					action: "detail",
					name: member.name,
					id: member.id,
					where: {id: getUrlParam("id")}
				},
				async: true,
				success: function(json) {
					if(!json.error) {

						assignTmpl(json);
						jQuery("#service-list").html(template('service-list-code', json));

						jQuery("[data-action='select']").click(function() {
							if ($(this).html().indexOf("<div class=\"sh_bg\"></div>") != -1) {
								$(this).html($(this).html().replace("<div class=\"sh_bg\"></div>", ""));
								$(this).find("input").attr("data-active", "false");
							} else {
								$(this).html($(this).html() + "<div class=\"sh_bg\"></div>");
								$(this).find("input").attr("data-active", "true");
							}
						});
							
					} else {
						plus.nativeUI.toast(json.message);
					}
				},
				error: function(xhr, type, errorThrown) {}
			});

			document.getElementById("submit-booking").addEventListener("tap", function(e) {
				var service = "";
				$("[name='sbt_service']").each(function(){
					if ($(this).attr("data-active") == "true" && $(this).val()) {
						service += (service ? ", " : "") + $(this).val();
					}
				});

				if (!service) {
					plus.nativeUI.toast("請選擇服務類型");
					return;
				}

				var pet = "";
				$("[name='sbt_pet']").each(function(){
					if ($(this).attr("data-active") == "true" && $(this).val()) {
						pet += (pet ? ", " : "") + $(this).val();
					}
				});

				if (!pet) {
					plus.nativeUI.toast("請選擇寵物類型");
					return;
				}

				var size = "";
				$("[name='sbt_size']").each(function(){
					if ($(this).attr("data-active") == "true" && $(this).val()) {
						size += (size ? ", " : "") + $(this).val();
					}
				});

				if (!size) {
					plus.nativeUI.toast("請選擇尺寸");
					return;
				}

				if (!jQuery("#sbt_name").val()) {
					plus.nativeUI.toast("請填寫姓名");
					return;
				}

				if (!jQuery("#sbt_phone").val()) {
					plus.nativeUI.toast("請填寫電話");
					return;
				}

				if (!jQuery("#sbt_address").val()) {
					plus.nativeUI.toast("請填寫地址");
					return;
				}

				if (!jQuery("#sbt_time").val()) {
					plus.nativeUI.toast("請填寫上門日期");
					return;
				}

				submitting = true;
				$("#submit-booking").html("正在提交");

				mui.ajax({
                    type: "post",
                    url: domain + "saas/booking.php",
                    dataType: "json",
                    data: {
                        action: "send",
                        id: member.id,
                        name: member.name,
                        params: {
                        	tid: getUrlParam("id"),
                        	service: service,
                        	pet: pet,
                        	size: size,
                        	name: jQuery("#sbt_name").val(),
                        	phone: jQuery("#sbt_phone").val(),
                        	address: jQuery("#sbt_address").val(),
                        	time: jQuery("#sbt_time").val(),
                        	remark: jQuery("#sbt_remark").val()
                        }
                    },
                    async: true,
                    success: function(json) {
                        if(!json.error) {
                        	alert("預約成功！");

                        	setTimeout(function(){
                        		document.location.href = "service-list.html";
                        	}, 10);

                        } else {
							plus.nativeUI.toast(json.message);

							submitting = false;
							$("#submit-booking").html("提交");
						}
                    },
                    error: function(xhr, type, errorThrown) {
                        //alert(JSON.stringify(xhr))
                    }
                });
            });

		});

	</script>

</body>
</html>