<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
	<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<!--标准mui.css-->
	<link href="css/mui.min.css" rel="stylesheet" />
	<link href="css/mui.indexedlist.css" rel="stylesheet" />
	<link href="css/mui.picker.css" rel="stylesheet" />
	<link href="css/mui.poppicker.css" rel="stylesheet" />
	<style>
		html, body, .mui-content {height: 100%;}
		h5{
	        padding-top: 8px;
	        padding-bottom: 8px;
	        text-indent: 12px;
	        background-color:#efeff4;
	    }
		.top_bg{ height:25px; background-color: #bc9dc9;}
		.margin1:nth-child(3n+2) {
			margin-left: 1px; 
			margin-right: 1px;
		}
		#list-view img{ text-align: center; margin:0 auto;}
	</style>

	<script src="js/mui.min.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/template-native.js"></script>
    <script src="js/basic.js"></script>
</head>
<body>
	<header class="mui-bar mui-bar-nav" style=" height: 108px;">
	<div style=" height:21px ; overflow: hidden;">
    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"><span class="mui-icon mui-icon-undo fhui"></span></a>
   
   </div>
    <div class="mui-title"><img src="images/Petchat.png"> <img src="images/CatDog.png"></div>
    <div class="top_bg"></div>
</header>
	<div class="mui-content">
		<div class="top_bg"></div>
		
		<div class="serv-fw" id="list-view"><img src="images/gif.gif" style="width: 32px; height:32px ;"></div>
		
     <script id="list-view-code" type="text/html">
			<% for (var i in list) { %>
				<div class="margin1"><a href="service-detail.html?id=<%= list[i]["id"] %>" data-action="openwindow"><img src="<%= getvarious("domain") + "uploads/member/me" + list[i]["src"] %>"></a></div>
			<% } %>
		</script>

	</div>

	<script>
		var member = {};

		mui.init({
			swipeBack:true //启用右滑关闭功能
		});

		mui.plusReady(function() {
			member = myStorage.getItem("member");
			
			mui.ajax({
				type: "post",
				url: domain + "saas/member.php",
				dataType: "json",
				data: {
                    id: member.id,
                    name: member.name,
                    action: "list", 
                    where: {type: 10}
                },
				async: true,
				success: function(json) {
					if(!json.error) {
						jQuery("#list-view").html(template('list-view-code', json));
						//assignTmpl(json);
						
					} else {
						plus.nativeUI.toast(json.message);
					}
				},
				error: function(xhr, type, errorThrown) {
					//alert(JSON.stringify(xhr))
				}
			});
		});
	</script>
</body>
</html>