<html>
<head>
	<meta charset="utf-8">
	<title></title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<!--标准mui.css-->
	<link rel="stylesheet" href="css/mui.min.css">
	<link rel="stylesheet" href="css/dzcss.css">
	<link rel="stylesheet" type="text/css" href="../css/app.css" />
	<!--App自定义的css-->
	<style type="text/css">
		.active {
		    width: 40px;
		    height: 40px;
		    display: inline-block;
		    text-align: center;
		    background-color: #fff;
		    border: 1px solid #e1e1e3;
		    border-radius: 25px;
		    background-clip: padding-box;
		}
		.active span{line-height: 40px;}
		#comment-list {
			padding:10px 0px 10px 5px;;
			background-color:#fff ;
			text-align: left;
			
			color:#666 ;
			font-size:14px ;
			margin:0px 0px ;
		}
		#comment-list li {
			border-bottom: 1px  solid #ebebed; list-style:none ; background-color: #f8f8f9; padding-left: 5px;height:28px;
		}
		#comment-list li p{color:#666 ;}
		.top_bg{ height:25px; background-color: #bc9dc9;}
	</style>
	<script src="js/mui.min.js"></script>
	<script src="js/mui.zoom.js"></script>
	<script src="js/mui.previewimage.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/template-native.js"></script>
    <script src="js/basic.js"></script>

</head>
<body>
	<header class="mui-bar mui-bar-nav" style=" height: 108px;">
	<div style=" height:21px ;">
    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"><span class="mui-icon mui-icon-undo fhui"></span></a>
   
   </div>
    <div class="mui-title"><img src="images/Petchat.png"> <img src="images/CatDog.png"></div>
    <div class="top_bg"></div>
</header>
	<div class="mui-content bg-two" style=" padding-top: 108px;">
		<div id="slider" class="mui-slider h-serv">
            <div class="mui-slider-group mui-slider-loop" id="list-view">
            	<a class="active">
					<span class="mui-spinner"></span>
				</a>
            </div>
            <script id="list-view-code" type="text/html">
            <% for (var i in list_last) { %>
            	<!-- 额外增加的一个节点(循环轮播：第一个节点是最后一张轮播) -->
                <div class="mui-slider-item">
                    <a href="#">
                    	<div class="square-pic-serv" style="background-image: url(<%= getvarious("domain") + list_last[i] %>)"></div>
                    </a>
                </div>
            <% } %>

            <% for (var i in list) { %>
                <div class="mui-slider-item">
                    <a href="#">
                    	<div class="square-pic-serv" style="background-image: url(<%= getvarious("domain") + list[i] %>)"></div>
                    </a>
                </div>
            <% } %>

            <% for (var i in list) { %>
            	<!-- 额外增加的一个节点(循环轮播：最后一张节点是第一个轮播) -->
                <div class="mui-slider-item">
                    <a href="#">
                    	<div class="square-pic-serv" style="background-image: url(<%= getvarious("domain") + list[i] %>)"></div>
                    </a>
                </div>
            <% break; } %>
            </script>
            
            <div class="mui-slider-indicator" id="list-dot"></div>
            <script id="list-dot-code" type="text/html">
            <% for (var i in list) { %>
                <div class="mui-indicator"></div>
            <% } %>
            </script>
        </div>
		
		<div class="mui-content-padded padd-heig">
			<div class="serv-my-zi mar">美容師名：<a data-info="member.name" style=" color:#333 ;"></a></div>
			<div class="serv-my-zi">年資：<a data-info="member.fields.experience" style=" color:#333 ;"></a></div>
			<div class="serv-my-zi se-tsn">
				<span>服務範圍：</span>
				<div id="service-list"></div>
				<script id="service-list-code" type="text/html">
				<% for (var i in member.service) { %>
					<img src="<%= getvarious("domain") + "uploads/pictures/service/se" + member["service"][i]["icon"] %>">
				<% } %>
				</script>	
			</div>
			<div class="serv-my-zi">
				查詢電話：<a data-info="member.phone" style=" color:#333 ;"></a> <a href="" data-info="href=member.link" data-action="openwindow"><span class="serv-ljyy">立即預約</span></a>
			</div>
			<div data-info="member.desp" style="margin-top:5px ; font-size: 14px;"></div>
               
            
			
			</div>
		</div>	
	</div>

	<script type="text/javascript" charset="utf-8">
		var member = {};
	
		//mui初始化
		mui.init({
			swipeBack: true //启用右滑关闭功能
		});
		
		mui.plusReady(function() {
			member = myStorage.getItem("member");

            if(!member) {
                plus.nativeUI.toast("請先登錄！");
                return false;   
            }

			mui.ajax({
				type: "post",
				url: domain + "saas/member.php",
				dataType: "json",
				data: {
					action: "detail",
					name: member.name,
					id: member.id,
					where: {id: getUrlParam("id")}
				},
				async: true,
				success: function(json) {
					if(!json.error) {
						var pics = {};
						var last = [];
	                	for (var k in json.member.picture) {
	                		last = json.member.picture[k];
	                	}

	                	pics.list_last = [last];
	                	pics.list = json.member.picture;

	                	jQuery("#list-view").html(template('list-view-code', pics));
                    	jQuery("#list-dot").html(template('list-dot-code', pics));

                    	mui('.mui-slider').slider();
						mui('.mui-scroll-wrapper.mui-slider-indicator.mui-segmented-control').scroll({
							scrollY: false,
							scrollX: true,
							indicators: false,
							snap: '.mui-control-item'
						});
						
						json.member.link = "service-booking.html?id=" + json.member.id;

						assignTmpl(json);
						//jQuery("#detail-photo").html(template("detail-photo-code", json));
						jQuery("#service-list").html(template('service-list-code', json));
							
					} else {
						plus.nativeUI.toast(json.message);
					}
				},
				error: function(xhr, type, errorThrown) {}
			});
		});
	</script>

</body>
</html>