
<div class="main">
<?php if ($_GET['action'] == 'edt') { ?>
	<form action="<?=$_SERVER['REQUEST_URI'];?>" method="post">
		<input type="hidden" name="save" value="true" />

		<div class="title1 mgt10">
            <div class="cap">管理员编辑</div>
        </div>
        <div class="wbg pdl15 pdr15 pdt20 pdb20 cl1 bd1">
			<table width="100%" cellspacing="0" cellspacing="0" class="table2">
				<tbody>
					<tr>
	                    <td align="right"><span class="color_warning">*</span> 院系</td>
	                    <td>
	                        <select name="sbt_cid" class="bdr3 bd2 h24 vm minw150">
	                            <option value="">-- 请选择 --</option>
	                        <?php
	                            foreach ($department as $key => $value) {
	                                echo '<option value="' . $key . '" ' . ($outcome['cid'] == $key ? 'selected="selected"' : '') . '>' . $value . '</option>';
	                            }
	                        ?>
	                        </select>
	                    </td>
	                </tr>
					<tr>
						<td align="right"><span class="color_warning">*</span> 用户账号</td>
	                    <td>
	                        <input class="bdr3 bd2 h24 pdrl3" data-input="text" name="sbt_name" value="<?=$outcome['name'];?>" <?=$_GET['num'] ? 'readonly="readonly" ' : '';?> />
	                        <span style="color:#555555;">(可用字符 "0-9", "a-z", "A-Z", "@", "-", "_")</span>
	                    </td>
	                </tr>

					<tr>
						<td align="right"><font color="red">*</font> 用户密码 </td>
						<td>
							<input class="bdr3 bd2 h24 pdrl3" data-input="text" name="sbt_pass" type="password" value="" <?=$_GET['num'] ? 'readonly="readonly" ' : '';?>/>
							<span style="color:#555555;">(可用字符 "0-9", "a-z", "A-Z", "@", "-")</span>
						</td>
					</tr>
					<tr>
						<td align="right"><font color="red">*</font> 确认密码 </td>
						<td>
							<input class="bdr3 bd2 h24 pdrl3" data-input="text" type="password" name="sbt_confirm" value="" <?=$_GET['num'] ? 'readonly="readonly" ' : '';?>/>
						</td>
					</tr>
					<tr>
						<td align="right"><font color="red">*</font> 用户姓名 </td>
						<td>
							<input class="bdr3 bd2 h24 pdrl3" data-input="text" name="sbt_realname" value="<?=$outcome['realname'];?>" />
						</td>
					</tr>
					<tr>
						<td align="right"><font color="red">*</font> 用户角色 </td>
						<td>
							<select name="sbt_rid" class="bdr3 bd2 h24 vm minw150">
								<option value="">-- 请选择 --</option>
								<?=$opt_role;?>
							</select>
						</td>
					</tr>
				</tbody>
			</table>

			<div class="xc">
                <input class="button1" type="submit" value="保 存" />
            </div><br />
		</div>
	</form>

<?php } else { ?>
    <form enctype="multipart/form-data" action="<?=$_SERVER['PHP_SELF'] . '?action=edt&flag=' . $_GET['flag'] . $q_url['24567'] . '&num=' . $_GET['num'];?>" method="post">
        <?= $code_table; ?>
    </form>
<?php } ?>
</div>
