
<div class="main">
<?php if ($_GET['action'] == 'edt') { ?>
    <form enctype="multipart/form-data" action="<?=$_SERVER['REQUEST_URI'];?>" method="post" onsubmit="return confirm('成绩提交后无法修改，确定要提交吗？');">
        <input type="hidden" name="save" value="true" />
        <input type="hidden" name="sbt_pid" value="<?=$_GET['num'];?>" />

        <div class="title1 mgt10">
            <div class="cap">评分</div>
        </div>
        <div class="wbg pdl15 pdr15 pdt20 pdb20 cl1 bd1">
            <?php if (!isset($_GET['operate']) && $_SESSION['admin_type'] == 2) { ?>

            <table width="100%" cellspacing="0" cellspacing="0" class="table2">
                <tr>
                    <td align="right">课程名称</td>
                    <td>
                    <?php
                        foreach ($course as $key => $value) {
                            if ($key == $outcome['sid']) {
                                echo $value;
                                break;
                            }
                        }
                    ?>
                    </td>
                    <?php if ($outcome['rid']) { ?>
                    <td align="right">实验室准备员</td>
                    <td>
                    <?php
                        foreach ($teacher[2] as $key => $value) {
                            if ($key == $outcome['rid']) {
                                echo $value;
                            }
                        }
                    ?>
                    </td>
                    <?php } ?>
                </tr>
            </table><br />

            <table width="100%" cellspacing="0" cellspacing="0" class="table2">
                <tr bgcolor="#f0f0f0">
                    <td align="center">序号</td>
                    <td align="center">班级</td>
                    <td align="center">学号</td>
                    <td align="center">姓名</td>
                    <td align="center">操作</td>
                    <td align="center">报告</td>
                    <td align="center">综合</td>
                </tr>
            <?php 
                $i = 0;
                $exist = false;
                foreach ($enroll as $key => $value) { 
                    $i ++;

                    if (isset($evaluate[$value['id']])) {
                        $exist = true;
                    }
            ?>
                <tr data-action="hover">
                    <td align="center" class="bdb1"><?=$i;?></td>
                    <td align="center" class="bdb1"><?=$classes[$value['cid']];?></td>
                    <td align="center" class="bdb1"><?=$value['number'];?></td>
                    <td align="center" class="bdb1"><?=$value['name'];?></td>
                    <td align="center" class="bdb1"><input class="bdr3 bd2 h24 pdrl3" data-input="text" name="sbt_tid[<?=$value['id'];?>][1]" value="<?=$evaluate[$value['id']][1]['score'];?>" size="4" /></td>
                    <td align="center" class="bdb1"><input class="bdr3 bd2 h24 pdrl3" data-input="text" name="sbt_tid[<?=$value['id'];?>][2]" value="<?=$evaluate[$value['id']][2]['score'];?>" size="4" /></td>
                    <td align="center" class="bdb1"><input class="bdr3 bd2 h24 pdrl3" data-input="text" name="sbt_tid[<?=$value['id'];?>][3]" value="<?=$evaluate[$value['id']][3]['score'];?>" size="4" /></td>
                </tr>
            <?php } ?>
            </table><br />

            <?php } else if (($_GET['operate'] == 'show' && $_SESSION['admin_type'] == 2) || $_SESSION['admin_type'] == 1) { ?>

            <table width="100%" cellspacing="0" cellspacing="0" class="table2">
                <tr>
                    <td align="right" width="25%">课程名称</td>
                    <td>
                    <?php
                        foreach ($course as $key => $value) {
                            if ($key == $outcome['sid']) {
                                echo $value;
                                break;
                            }
                        }
                    ?>
                    </td>
                    <td align="right">评分人数</td>
                    <td><?= $quantity; ?></td>
                </tr>
            </table><br />

            <?php
                $exist = false;
                if (isset($evaluate[$outcome['tid']])) {
                    $exist = true;
                }
            ?>

            <table width="100%" cellspacing="0" cellspacing="0" class="table2">
                <tr bgcolor="#f0f0f0">
                    <td align="center">序号</td>
                    <td align="center">评分细则</td>
                    <td align="center">满分</td>
                    <td align="center">打分</td>
                </tr>
                <tr data-action="hover">
                    <td align="center">1</td>
                    <td>教师为人师表，严格要求学生</td>
                    <td align="center">14</td>
                    <td align="center"><input class="bdr3 bd2 h24 pdrl3" data-input="text" name="sbt_tid[1]" value="<?=$evaluate[1] / $quantity;?>" size="4" /></td>
                </tr>
                <tr data-action="hover">
                    <td align="center">2</td>
                    <td>教师对实验内容及仪器设备很熟悉</td>
                    <td align="center">15</td>
                    <td align="center"><input class="bdr3 bd2 h24 pdrl3" data-input="text" name="sbt_tid[2]" value="<?=$evaluate[2] / $quantity;?>" size="4" /></td>
                </tr>
                <tr data-action="hover">
                    <td align="center">3</td>
                    <td>教师严格执行实验前的提问制度，检查学生的预习报告</td>
                    <td align="center">14</td>
                    <td align="center"><input class="bdr3 bd2 h24 pdrl3" data-input="text" name="sbt_tid[3]" value="<?=$evaluate[3] / $quantity;?>" size="4" /></td>
                </tr>
                <tr data-action="hover">
                    <td align="center">4</td>
                    <td>教师讲授实验课清楚、全面，具有启发性</td>
                    <td align="center">18</td>
                    <td align="center"><input class="bdr3 bd2 h24 pdrl3" data-input="text" name="sbt_tid[4]" value="<?=$evaluate[4] / $quantity;?>" size="4" /></td>
                </tr>
                <tr data-action="hover">
                    <td align="center">5</td>
                    <td>教师在实验过程中积极耐心指导</td>
                    <td align="center">15</td>
                    <td align="center"><input class="bdr3 bd2 h24 pdrl3" data-input="text" name="sbt_tid[5]" value="<?=$evaluate[5] / $quantity;?>" size="4" /></td>
                </tr>
                <tr data-action="hover">
                    <td align="center">6</td>
                    <td>教师对实验报告的批阅及时、认真、公正</td>
                    <td align="center">12</td>
                    <td align="center"><input class="bdr3 bd2 h24 pdrl3" data-input="text" name="sbt_tid[6]" value="<?=$evaluate[6] / $quantity;?>" size="4" /></td>
                </tr>
                <tr data-action="hover">
                    <td align="center">7</td>
                    <td>师生关系融洽，与学生交流好 </td>
                    <td align="center">12</td>
                    <td align="center"><input class="bdr3 bd2 h24 pdrl3" data-input="text" name="sbt_tid[7]" value="<?=$evaluate[7] / $quantity;?>" size="4" /></td>
                </tr>

            </table>

            <?php } ?>

            <?php if (!$exist && !isset($_GET['operate'])) { ?>
            <div class="xc">
                <input class="button1" type="submit" value="保 存" />
            </div><br />
            <?php } ?>
        </div>
    </form>

<?php } else { ?>
    <form enctype="multipart/form-data" action="<?=$_SERVER['PHP_SELF'] . '?action=edt&flag=' . $_GET['flag'] . $q_url['24567'] . '&num=' . $_GET['num'];?>" method="post">
        <?= $code_table; ?>
    </form>
<?php } ?>
</div>

<script language="javascript" type="text/javascript" src="../javascript/datepicker/WdatePicker.js"></script>