<div class="main">
    <form enctype="multipart/form-data" action="<?=$_SERVER['REQUEST_URI'];?>" method="post">
        <input type="hidden" name="save" value="true" />

        <div class="title1 mgt10">
            <div class="cap">密码设置</div>
        </div>
        <div class="wbg pdl15 pdr15 pdt20 pdb20 cl1 bd1">
            <table width="100%" cellspacing="0" cellspacing="0" class="table2">
                <tr>
                    <td align="right"><span class="color_warning">*</span> 原始密码</td>
                    <td>
                    	<input class="bdr3 bd2 h24 pdrl3" data-input="text" value="" size="50" type="password" name="sbt_oldpwd">
                    </td>
                </tr>
                <tr>
                    <td align="right"><span class="color_warning">*</span> 新密码</td>
                    <td>
                        <input class="bdr3 bd2 h24 pdrl3" data-input="text" value="" size="50" type="password" name="sbt_newpwd">
                    </td>
                </tr>
                <tr>
                    <td align="right"><span class="color_warning">*</span> 确认密码</td>
                    <td>
                        <input class="bdr3 bd2 h24 pdrl3" data-input="text" value="" size="50" type="password" name="sbt_conpwd">
                    </td>
                </tr>
            </table><br />

            <div class="xc">
                <input class="button1" type="submit" value="保 存" />
            </div><br />
        </div>
    </form>
</div>