
<div class="main">
<?php if ($_SESSION['admin_type'] == 2) { ?>
    <form enctype="multipart/form-data" action="<?=$_SERVER['REQUEST_URI'];?>" method="post">
        <input type="hidden" name="save" value="true" />

        <div class="title1 mgt10">
            <div class="cap">教职工编辑</div>
        </div>
        <div class="wbg pdl15 pdr15 pdt20 pdb20 cl1 bd1">
            <table width="100%" cellspacing="0" cellspacing="0" class="table2">
                <tr>
                    <td align="right"><span class="color_warning">*</span> 手机</td>
                    <td>
                    <?php if ($outcome['mobile']) { ?>
                    <?= $outcome['mobile']; ?>
                    <?php } else { ?>
                        <input class="bdr3 bd2 h24 pdrl3" data-input="text" name="sbt_mobile" value="<?=$outcome['mobile'];?>" />
                    <?php } ?>
                    </td>
                </tr>
                <tr>
                    <td align="right"><span class="color_warning">*</span> 姓名</td>
                    <td>
                    <?php if ($outcome['name']) { ?>
                    <?= $outcome['name']; ?>
                    <?php } else { ?>
                        <input class="bdr3 bd2 h24 pdrl3" data-input="text" name="sbt_name" value="<?=$outcome['name'];?>" />
                    <?php } ?>
                    </td>
                </tr>
                <tr>
                    <td align="right"><span class="color_warning">*</span> 院系</td>
                    <td>
                    <?php 
                        if ($outcome['cid']) { 
                            foreach ($department as $key => $value) {
                                if ($outcome['cid'] == $key) {
                                    echo $value;
                                    break;
                                }
                            }

                        } else { 
                    ?>   
                            <select name="sbt_cid" class="bdr3 bd2 h24 vm minw150">
                                <option value="">-- 请选择 --</option>
                            <?php
                                foreach ($department as $key => $value) {
                                    echo '<option value="' . $key . '">' . $value . '</option>';
                                }
                            ?>
                            </select>
                        <?php } ?>
                    </td>
                </tr>
                <tr>
                    <td align="right"><span class="color_warning">*</span> 职务</td>
                    <td>
                    <?php 
                        if ($outcome['type']) { 
                            foreach ($cms_teacher_type as $key => $value) {
                                if ($outcome['type'] == $key) {
                                    echo $value;
                                    break;
                                }
                            }

                        } else { 
                    ?>   
                            <select name="sbt_type" class="bdr3 bd2 h24 vm minw150">
                            <?php
                                foreach ($cms_teacher_type as $key => $value) {
                                    echo '<option value="' . $key . '">' . $value . '</option>';
                                }
                            ?>
                            </select>
                        <?php } ?>
                    </td>
                </tr>
                <tr>
                    <td align="right">性别</td>
                    <td>
                        <input class="vm" type="radio" name="sbt_sex" value="1" <?=$outcome['sex'] == 1 ? 'checked="checked"' : '';?> /> 男 &nbsp;
                        <input class="vm" type="radio" name="sbt_sex" value="2" <?=$outcome['sex'] == 2 ? 'checked="checked"' : '';?> /> 女
                    </td>
                </tr>
                <tr>
                    <td align="right"><span class="color_warning">*</span> 办公室电话</td>
                    <td>
                        <input class="bdr3 bd2 h24 pdrl3" data-input="text" name="sbt_office" value="<?=$outcome['office'];?>" />
                    </td>
                </tr>
                <!--
                <tr>
                    <td align="right">实验课程</td>
                    <td>
                        <input class="bdr3 bd2 h24 pdrl3" data-input="text" name="sbt_course" value="<?=$outcome['course'];?>" />
                    </td>
                </tr>
                -->
            </table><br />

            <div class="xc">
                <input class="button1" type="submit" value="保 存" />
            </div><br />
        </div>
    </form>

<?php } else if ($_SESSION['admin_type'] == 3) { ?>
    <form enctype="multipart/form-data" action="<?=$_SERVER['REQUEST_URI'];?>" method="post">
        <input type="hidden" name="save" value="true" />

        <div class="title1 mgt10">
            <div class="cap">学生编辑</div>
        </div>
        <div class="wbg pdl15 pdr15 pdt20 pdb20 cl1 bd1">
            <table width="100%" cellspacing="0" cellspacing="0" class="table2">
                <tr>
                    <td align="right"><span class="color_warning">*</span> 学号</td>
                    <td><?=$outcome['number'];?></td>
                </tr>
                <tr>
                    <td align="right"><span class="color_warning">*</span> 名称</td>
                    <td>
                    <?php if ($outcome['name']) { ?>
                    <?= $outcome['name']; ?>
                    <?php } else { ?>
                        <input class="bdr3 bd2 h24 pdrl3" data-input="text" name="sbt_name" value="<?=$outcome['name'];?>" />
                    <?php } ?>
                    </td>
                </tr>
                <tr>
                    <td align="right"><span class="color_warning">*</span> 院系</td>
                    <td>
                    <?php
                        foreach ($department as $key => $value) {
                            if ($outcome['did'] == $key) {
                                echo $value;
                            }
                        }
                    ?>
                    </td>
                </tr>
                <tr>
                    <td align="right"><span class="color_warning">*</span> 班级</td>
                    <td>
                    <?php
                        foreach ($classes as $key => $value) {
                            if ($outcome['cid'] == $key) {
                                echo $value;
                            }
                        }
                    ?>
                    </td>
                </tr>
                <tr>
                    <td align="right">性别</td>
                    <td>
                        <input class="vm" type="radio" name="sbt_sex" value="1" <?=$outcome['sex'] == 1 ? 'checked="checked"' : '';?> /> 男 &nbsp;
                        <input class="vm" type="radio" name="sbt_sex" value="2" <?=$outcome['sex'] == 2 ? 'checked="checked"' : '';?> /> 女
                    </td>
                </tr>
                <tr>
                    <td align="right"><span class="color_warning">*</span> 联系方式</td>
                    <td>
                        <input class="bdr3 bd2 h24 pdrl3" data-input="text" name="sbt_phone" value="<?=$outcome['phone'];?>" />
                    </td>
                </tr>
            </table><br />

            <div class="xc">
                <input class="button1" type="submit" value="保 存" />
            </div><br />
        </div>
    </form>

<?php } ?>
</div>
