<body id="adminbody1">
<form enctype="multipart/form-data" action="<?=$_SERVER['REQUEST_URI'];?>" method="post">
	<input type="hidden" name="save" value="true" />

	<div id="inner_form">
		<table width="99%" cellspacing="2">
			<tbody>
				<tr>
					<td align="right" width="40%">缩略图 </td>
					<td>
						<?php
							$img_w = 0;
							$img_h = 0;
						?>
						<input type="file" name="sbt_img" value="" onChange="selectImg(this, <?=$img_w;?>, <?=$img_h;?>)" /><br />
						<?=$img_w ? '<div style="color:#888888; padding:5px 0 0 0;">建议尺寸(px)：' . $img_w . '宽 x ' . $img_h . '高</div>' : '';?>
						<iframe id="post_frame" name="post_frame" style="display:none;" src="viewimg.php"></iframe>
					</td>
				</tr>
				<tr>
					<td align="right">序列号 </td>
					<td><input name="sbt_queue" value="<?=$_GET['num'];?>"></td>
				</tr>
				<tr>
					<td align="right">&nbsp;</td>
					<td>
					<?php if (strpos($picture_arr['src'], 'video_') === 0) { ?>
						<video width="350" height="350" controls="controls" autoplay="autoplay">
							<source src="<?=$picture_src . $picture_arr['src'];?>" />
							<object width="350" height="350">
								<embed width="350" height="350" src="<?=$picture_src . $picture_arr['src'];?>" />
							</object>
						</video>

					<?php } else { ?>
						<img id="showimg" src="<?=$picture_arr['src'] ? $picture_src . $con_pic['suf']['mid'] . $picture_arr['src'] . '?' . time() : 'images/no-photo.jpg';?>" />
					<?php } ?>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	<?=setOperate(array(), array('save' => 'true'));?>
</form>
