
<div class="main">
<?php if ($_GET['action'] == 'edt') { ?>
    <form enctype="multipart/form-data" action="<?=$_SERVER['REQUEST_URI'];?>" method="post">
        <input type="hidden" name="save" value="true" />

        <div class="title1 mgt10">
            <div class="cap">课程选择</div>
        </div>
        <div class="wbg pdl15 pdr15 pdt20 pdb20 cl1 bd1">
            <table width="100%" cellspacing="0" cellspacing="0" class="table2">
                <tr>
                    <td align="right"><span class="color_warning">*</span> 院系</td>
                    <td>
                    <?php 
                        if ($admin_arr['cid']) { 
                            echo $department[$admin_arr['cid']] . '<input type="hidden" value="' . $admin_arr['cid'] . '" name="sbt_did">';
                        } else { 
                    ?>
                        <select name="sbt_did" class="bdr3 bd2 h24 vm minw150" onchange="selectDepartment(this)">
                            <option value="">-- 请选择 --</option>
                        <?php
                            foreach ($department as $key => $value) {
                                echo '<option value="' . $key . '" ' . ($outcome['did'] == $key ? 'selected="selected"' : '') . '>' . $value . '</option>';
                            }
                        ?>
                        </select>
                    <?php } ?>
                    </td>
                </tr>
                <tr>
                    <td align="right"><span class="color_warning">*</span> 课程名称</td>
                    <td>
                    <?php 
                        if ($outcome['relate'] || $_GET['num']) { 
                            foreach ($course as $key => $value) {
                                if ($key == $outcome['sid']) {
                                    echo $value . '<input type="hidden" value="' . $outcome['sid'] . '" name="sbt_sid">';
                                    break;
                                }
                            }
                        } else { 
                    ?>
                        <select name="sbt_sid" class="bdr3 bd2 h24 vm minw150">
                            <option>-- 请选择 --</option>
                        <?php
                            foreach ($course as $key => $value) {
                                if (!in_array($key, $plan_ids) || $key == $outcome['sid']) {
                                    echo '<option value="' . $key . '" ' . (($key == $outcome['sid'] || $key == $_GET['sid']) ? 'selected' : '') . '>' . $value . '</option>';
                                }
                            }
                        ?>
                        </select>
                    <?php } ?>
                    </td>
                </tr>
                <tr>
                    <td align="right"><span class="color_warning">*</span> 老师</td>
                    <td>
                    <?php 
                        if ($outcome['relate']) { 
                            foreach ($teacher[1] as $key => $value) {
                                if ($key == $outcome['tid']) {
                                    echo $value;
                                    break;
                                }
                            }
                        } else { 
                    ?>
                        <select name="sbt_tid" class="bdr3 bd2 h24 vm minw150">
                            <option>-- 请选择 --</option>
                        <?php
                            foreach ($teacher[1] as $key => $value) {
                                echo '<option value="' . $key . '" ' . ($key == $outcome['tid'] ? 'selected' : '') . '>' . $value . '</option>';
                            }
                        ?>
                        </select>
                    <?php } ?>
                    </td>
                </tr>
                <tr>
                    <td align="right">准备员</td>
                    <td>
                        <select name="sbt_rid" class="bdr3 bd2 h24 vm minw150">
                            <option>-- 请选择 --</option>
                        <?php
                            foreach ($teacher[2] as $key => $value) {
                                echo '<option value="' . $key . '" ' . ($key == $outcome['rid'] ? 'selected' : '') . '>' . $value . '</option>';
                            }
                        ?>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td align="right"><span class="color_warning">*</span> 学生人数</td>
                    <td>
                        <input class="bdr3 bd2 h24 pdrl3" data-input="text" name="sbt_number" value="<?=$outcome['number'];?>" />
                    </td>
                </tr>
                <tr>
                    <td align="right"><span class="color_warning">*</span> 小组数量</td>
                    <td>
                        <input class="bdr3 bd2 h24 pdrl3" data-input="text" size="6" name="sbt_group" value="<?=$outcome['group'];?>" />
                    </td>
                </tr>
                <tr>
                    <td align="right"><span class="color_warning">*</span> 每组人数</td>
                    <td>
                        <input class="bdr3 bd2 h24 pdrl3" data-input="text" size="6" name="sbt_quantity" value="<?=$outcome['quantity'];?>" />
                    </td>
                </tr>
                <tr>
                    <td align="right"><span class="color_warning">*</span> 课时数</td>
                    <td>
                        <input class="bdr3 bd2 h24 pdrl3" data-input="text" name="sbt_hours" value="<?=$outcome['hours'];?>" />
                    </td>
                </tr>
            </table><br />

            <?php if (!$exist_arrange) { ?>
            <div class="xc">
                <input class="button1" type="submit" value="保 存" />
            </div><br />
            <?php } ?>
        </div>
    </form>

<?php } else { ?>
    <form enctype="multipart/form-data" action="<?=$_SERVER['PHP_SELF'] . '?action=lst&flag=' . $_GET['flag'] . $q_url['24567'] . '&num=' . $_GET['num'];?>" method="post">
        <?= $code_table; ?>
    </form>
<?php } ?>
</div>

<script language="javascript" type="text/javascript" src="../javascript/datepicker/WdatePicker.js"></script>
<script>
function selectDepartment(obj) {
    if (obj.value) {
        $.ajax({
            type: "POST",
            dataType: "json",
            url: "ajax.php?method=plan&did=" + obj.value,
            success: function(data){
                // 添加课程
                var e_option = document.createElement("option");
                e_option.innerHTML = "-- 请选择 --";
                e_option.value = "";
                $("[name='sbt_sid']").empty().append(e_option);

                for (k in data.course) {
                    var e_option = document.createElement("option");
                    e_option.value = k;
                    e_option.innerHTML = data.course[k];
                    $("[name='sbt_sid']").append(e_option);
                }

                // 添加老师
                var e_option = document.createElement("option");
                e_option.innerHTML = "-- 请选择 --";
                e_option.value = "";
                $("[name='sbt_tid']").empty().append(e_option);

                for (k in data.teacher) {
                    var e_option = document.createElement("option");
                    e_option.value = k;
                    e_option.innerHTML = data.teacher[k];
                    $("[name='sbt_tid']").append(e_option);
                }

            }
        });
    }
}
</script>