
<div class="main">
<?php if ($_GET['action'] == 'edt') { ?>
	<form action="<?=$_SERVER['REQUEST_URI'];?>" method="post">
		<input type="hidden" name="save" value="true" />

		<div class="title1 mgt10">
            <div class="cap">角色编辑</div>
        </div>
		<div class="wbg pdl15 pdr15 pdt20 pdb20 cl1 bd1">
			<table width="100%" cellspacing="0" cellspacing="0" class="table2">
				<tbody>
					<tr>
						<td align="right"><font color="red">*</font> 角色名称 </td>
						<td align="left"><input name="sbt_name" value="<?=$role_arr['name'];?>"></td>
					</tr>
					<?=$code;?>
				</tbody>
			</table>

			<div class="xc">
                <input class="button1" type="submit" value="保 存" />
            </div><br />
		</div>

	<form>

<?php
    } else { ?>
    <form enctype="multipart/form-data" action="<?=$_SERVER['PHP_SELF'] . '?action=edt&flag=' . $_GET['flag'] . $q_url['24567'] . '&num=' . $_GET['num'];?>" method="post">
        <?= $code_table; ?>
    </form>
<?php } ?>
</div>