
<div class="main">
<?php if ($_GET['action'] == 'edt') { ?>
    <form enctype="multipart/form-data" action="<?=$_SERVER['REQUEST_URI'];?>" method="post">
        <input type="hidden" name="save" value="true" />
        <input type="hidden" name="arrange" value="<?=$_GET['arrange'];?>" />
        <input type="hidden" name="sbt_aid" value="<?=$_GET['arrange'];?>" />

        <div class="title1 mgt10">
            <div class="cap">课程选择</div>
        </div>
        <div class="wbg pdl15 pdr15 pdt20 pdb20 cl1 bd1">
            <table width="100%" cellspacing="0" cellspacing="0" class="table2">
                <tr>
                    <td align="right" width="25%">课程名称</td>
                    <td width="25%">
                    <?php
                        foreach ($course as $key => $value) {
                            if ($key == $outcome['sid']) {
                                echo $value;
                            }
                        }
                    ?>
                    </td>
                    <td align="right" width="25%">老师</td>
                    <td>
                    <?php
                        foreach ($teacher[1] as $key => $value) {
                            if ($key == $outcome['tid']) {
                                echo $value;
                            }
                        }
                    ?>
                    </td>
                </tr>
                <tr>
                    <td align="right">移动电话</td>
                    <td><?= $outcome['mobile']; ?></td>
                    <td align="right">办公电话</td>
                    <td><?= $outcome['office']; ?></td>
                </tr>
                <tr>
                    <td align="right">学生总数</td>
                    <td><?=$outcome['number'];?></td>
                    <td align="right">课时数</td>
                    <td><?=$outcome['hours'];?></td>
                </tr>
                <tr>
                    <td align="right">开课日期</td>
                    <td>
                        <?php
                            echo date('Y-m-d', $outcome['date']) . ' &nbsp; ';

                            //自定义星期数组
                            $week = array('星期日', '星期一', '星期二', '星期三', '星期四', '星期五', '星期六');
                            echo $week[date('w', $outcome['date'])] . ' &nbsp; ';

                            switch ($outcome['time']) {
                                case 1: echo '上午'; break;
                                case 2: echo '下午'; break;
                                case 3: echo '晚上'; break;
                            }
                        ?>
                    </td>
                    <td align="right">教材</td>
                    <td><a href="../<?=systemConfig('textbook_path') . $outcome['book'];?>" target="_blank" style="color: red;" id="download">下载</a></td>
                </tr>
                <tr>
                    <td align="right">地址</td>
                    <td colspan="3"><?=$outcome['address'];?></td>
                </tr>
            </table><br />

            <?php if ($outcome['alter']) { ?>
            <div class="desc1 mgb15">课程取消</div>
            <table width="100%" cellspacing="0" cellspacing="0" class="table2">
                <tr>
                    <td align="right" width="25%">取消原因</td>
                    <td>
                        <textarea class="bdr3 bd2 pdrl3" rows="6" style="width: 80%;" data-input="text" name="sbt_message" readonly="readonly"><?=$outcome['message'];?></textarea>
                    </td>
                </tr>
            </table><br />
            <?php } ?>

            <div class="desc1 mgb15">分组选择</div>
            <div class="mgb15 cl1">
            <?php
                for ($i = 1; $i <= $outcome['group']; $i ++) {
                    if (intval($group[$i]['total']) == $outcome['quantity'] && !$outcome['gid']) {
                        echo '<p class="fl w140 h26 lh26">分组' . $i . ' [已报满]</p>';
                    } else {
                        if ($outcome['gid']) {
                            echo '<p class="fl w140 h26 lh26"> 分组' . $i . ' [' . ($outcome['gid'] == $i ? '<font color="green">已参加</font>' : intval($group[$i]['total']) . '人已报名') . ']</p>';

                        } else {
                            echo '<p class="fl w140 h26 lh26"><input type="radio" name="group" value="' . $i . '" class="vm" ' . ($current['gid'] == $i ? 'selected="selected"' : '') . '> 分组' . $i . ' [' . intval($group[$i]['total']) . '人已报名]</p>';
                        }
                    }
                }
            ?>
            </div>

            <div class="xc">
            <?php if ($outcome['gid']) { ?>
                <span class="button2">已报名 分组<?=$outcome['gid'];?></span> &nbsp;   
                
                <?php if ($outcome['date'] > time() + 24 * 3600 * 3) { ?>
                <input class="button1" type="submit" value="取 消" />
                <input type="hidden" name="del" value="true">
                <input type="hidden" name="num" value="<?= $_REQUEST['num']; ?>">
                <?php } ?>

            <?php } else { ?>
                <div class="button2" id="btn1">请先下载教材</div>
                <input class="button1" type="submit" value="报 名" style="display: none;" id="btn2" />
            <?php } ?>
            </div><br />
        </div>
    </form>

<?php
    } else { ?>
    <form enctype="multipart/form-data" action="<?=$_SERVER['PHP_SELF'] . '?action=' . $_GET['action'] . '&flag=' . $_GET['flag'] . $q_url['24567'];?>" method="post">
        <?= $code_table; ?>
    </form>
<?php } ?>
</div>

<script>
$("#download").click(function() {
    $("#btn1").hide();
    $("#btn2").show();
});
</script>