
<div class="main">
<?php if ($_GET['action'] == 'edt') { ?>
    <form enctype="multipart/form-data" action="<?=$_SERVER['REQUEST_URI'];?>" method="post">
        <input type="hidden" name="save" value="true" />

        <div class="title1 mgt10">
            <div class="cap">教职工编辑</div>
        </div>
        <div class="wbg pdl15 pdr15 pdt20 pdb20 cl1 bd1">
            <table width="100%" cellspacing="0" cellspacing="0" class="table2">
                <tr>
                    <td align="right"><span class="color_warning">*</span> 手机</td>
                    <td>
                        <input class="bdr3 bd2 h24 pdrl3" data-input="text" name="sbt_mobile" value="<?=$outcome['mobile'];?>" />
                    </td>
                    <td align="right">密码</td>
                    <td>
                        <input class="bdr3 bd2 h24 pdrl3" data-input="text" name="sbt_pass" value="" type="password" />
                    </td>
                </tr>
                <tr>
                    <td align="right"><span class="color_warning">*</span> 姓名</td>
                    <td>
                        <input class="bdr3 bd2 h24 pdrl3" data-input="text" name="sbt_name" value="<?=$outcome['name'];?>" />
                    </td>
                    <td align="right"><span class="color_warning">*</span> 邮箱</td>
                    <td>
                        <input class="bdr3 bd2 h24 pdrl3" data-input="text" name="sbt_email" value="<?=$outcome['email'];?>" />
                    </td>
                </tr>
                <tr>
                    <td align="right"><span class="color_warning">*</span> 院系</td>
                    <td>
                        <select name="sbt_cid" class="bdr3 bd2 h24 vm minw150">
                            <option value="">-- 请选择 --</option>
                        <?php
                            foreach ($department as $key => $value) {
                                echo '<option value="' . $key . '" ' . ($outcome['cid'] == $key ? 'selected="selected"' : '') . '>' . $value . '</option>';
                            }
                        ?>
                        </select>
                    </td>
                    <td align="right">性别</td>
                    <td>
                        <input class="vm" type="radio" name="sbt_sex" value="1" <?=$outcome['sex'] == 1 ? 'checked="checked"' : '';?> /> 男 &nbsp;
                        <input class="vm" type="radio" name="sbt_sex" value="2" <?=$outcome['sex'] == 2 ? 'checked="checked"' : '';?> /> 女
                    </td>
                    </tr>
                <tr>
                    <td align="right"><span class="color_warning">*</span> 办公室电话</td>
                    <td>
                        <input class="bdr3 bd2 h24 pdrl3" data-input="text" name="sbt_office" value="<?=$outcome['office'];?>" />
                    </td>
                    <td align="right">办公地点</td>
                    <td>
                        <input class="bdr3 bd2 h24 pdrl3" data-input="text" name="sbt_address" value="<?=$outcome['address'];?>" />
                    </td>
                </tr>
                <tr>
                    <td align="right">学历</td>
                    <td>
                        <input class="bdr3 bd2 h24 pdrl3" data-input="text" name="sbt_degree" value="<?=$outcome['degree'];?>" />
                    </td>
                    <td align="right">职称</td>
                    <td>
                        <input class="bdr3 bd2 h24 pdrl3" data-input="text" name="sbt_titles" value="<?=$outcome['titles'];?>" />
                    </td>
                </tr>
                <tr>
                    <td align="right"><span class="color_warning">*</span> 类型</td>
                    <td>
                        <select name="sbt_type" class="bdr3 bd2 h24 vm minw150" onchange="selectType(this)">
                        <?php
                            foreach ($cms_teacher_type as $key => $value) {
                                echo '<option value="' . $key . '" ' . ($outcome['type'] == $key ? 'selected="selected"' : '') . '>' . $value . '</option>';
                            }
                        ?>
                        </select>
                    </td>
                    <td align="right">有效</td>
                    <td>
                        <input type="hidden" name="sbt_valid" value="0" />
                        <input type="checkbox" class="vm" name="sbt_valid" <?=$outcome['valid'] ? 'checked="checked" ' : '';?>/>
                    </td>
                </tr>
                <tr <?= $outcome['type'] == 2 ? '' : 'style="display: none;"'; ?> id="relate">
                    <td align="right">关联角色</td>
                    <td>
                        <select name="sbt_relate[]" class="bdr3 bd2 h24 vm minw150" onchange="selectRelate(this)">
                            <option>独立</option>
                            <option value="1" <?= $outcome['relate'][0] == 1 ? 'selected="selected"' : '';?>>系主任</option>
                            <option value="2" <?= $outcome['relate'][0] == 2 ? 'selected="selected"' : '';?>>老师</option>
                        </select>
                    </td>
                    <td align="right">角色选择</td>
                    <td>
                        <select <?= $outcome['relate'][0] == 1 ? '' : 'style="display: none;" disabled="disabled"';?> name="sbt_relate[]" data-role="1">
                        <?php
                            foreach ($officer as $key => $value) {
                                echo '<option value="' . $key . '" ' . (($outcome['relate'][0] == 1 && $outcome['relate'][1] == $key) ? 'selected="selected"' : '') . '>' . $value . '</option>';
                            }
                        ?>
                        </select>
                        <select <?= $outcome['relate'][0] == 2 ? '' : 'style="display: none;" disabled="disabled"';?> name="sbt_relate[]" data-role="2">
                        <?php
                            foreach ($teacher[1] as $key => $value) {
                                echo '<option value="' . $key . '" ' . (($outcome['relate'][0] == 2 && $outcome['relate'][1] == $key) ? 'selected="selected"' : '') . '>' . $value . '</option>';
                            }
                        ?>
                        </select>
                    </td>
                </tr>
            </table><br />

            <div class="xc">
                <input class="button1" type="submit" value="保 存" />
            </div><br />
        </div>
    </form>

<?php } else if ($_GET['action'] == 'import') { ?>
    <form enctype="multipart/form-data" action="<?=$_SERVER['REQUEST_URI'];?>" method="post">
        <input type="hidden" name="import" value="true" />

        <div class="title1 mgt10">
            <div class="cap">教职工导入</div>
        </div>
        <div class="wbg pdl15 pdr15 pdt20 pdb20 cl1 bd1">
            <table width="100%" cellspacing="0" cellspacing="0" class="table2">
                <tr>
                    <td align="right" width="30%">文件</td>
                    <td>
                        <input class="bdr3 bd2 h24 pdrl3" name="sbt_file" type="file" /> &nbsp;
                        <a href="files/import_teacher.xls">模板下载</a>
                    </td>
                </tr>
            </table><br /><br />

            <div class="xc">
                <input class="button1" type="submit" value="导 入" />
            </div><br />
        </div>
    </form>

<?php } else if ($_GET['action'] == 'export') { ?>
    <form enctype="multipart/form-data" action="<?=$_SERVER['REQUEST_URI'];?>" method="post" target="_blank">
        <input type="hidden" name="export" value="true" />

        <div class="title1 mgt10">
            <div class="cap">教职工导出</div>
        </div>
        <div class="wbg pdl15 pdr15 pdt20 pdb20 cl1 bd1">
            <table width="100%" cellspacing="0" cellspacing="0" class="table2">
                <tr>
                    <td align="right" width="30%">院系</td>
                    <td>
                        <select name="cid">
                            <option value="">-- 全部 --</option>
                        <?php
                            foreach ($department as $key => $value) {
                                echo '<option value="' . $key . '">' . $value . '</option>';
                            }
                        ?>
                        </select>
                    </td>
                </tr>
            </table><br /><br />

            <div class="xc">
                <input class="button1" type="submit" value="导 出" />
            </div><br />
        </div>
    </form>

<?php } else { ?>
    <form enctype="multipart/form-data" action="<?=$_SERVER['PHP_SELF'] . '?action=lst&flag=' . $_GET['flag'] . $q_url['24567'];?>" method="post">
        <?= $code_table; ?>
    </form>

<?php } ?>
</div>

<script>
function selectType(obj) {
    $("#relate").hide();

    if (obj.value == 2) {
        $("#relate").show();
    }
}

function selectRelate(obj) {
    $("[data-role]").hide();
    $("[data-role]").attr("disabled", "disabled");
    $("[data-role=" + obj.value + "]").show();
    $("[data-role=" + obj.value + "]").attr("disabled", false);
}
</script>